








<main class="l-container js-main-container uptprodcut" role="main" id="product-show-view">

    <!-- cset クレンジングセット -->
    
    
        
    
    
    <!-- /クレンジングセット -->

    <!-- clensing クレンジングバーム -->
    
    
        
        
         <section class="uptproduct__fv" id="cleansingbalm">
     <!-- ここから -->
     <div class="uptblc__buyblc">
         <div class="uptblc__buyblc--img">
             <div class="uptblc__buyblc--swiper" id="js-cleansingSwiper">
                 <div class="cleansingSwiper01">
                     <div class="swiper mySwiper2">
                         <div class="swiper-wrapper">
                             <div class="swiper-slide">
                                <div class="pc">
                                    <picture>
                                        <source srcset="/assets/images/uptorigin/img_swiper-balm01.webp"
                                            type="image/webp">
                                        <img src="/assets/images/uptorigin/img_swiper-balm01.png"
                                            alt="CLEANSING SET" width="1100" height="1050">
                                    </picture>
                                </div>
                                <div class="sp">
                                    <picture>
                                        <source srcset="/assets/images/uptorigin/img_swiper-balm01_sp.webp"
                                            type="image/webp">
                                        <img src="/assets/images/uptorigin/img_swiper-balm01_sp.png"
                                            alt="CLEANSING SET" width="1035" height="1290">
                                    </picture>
                                </div>
                             </div>

                             <div class="swiper-slide">
                                <div class="pc">
                                    <picture>
                                        <source srcset="/assets/images/uptorigin/img_swiper-balm02.webp"
                                            type="image/webp">
                                        <img src="/assets/images/uptorigin/img_swiper-balm02.png"
                                            alt="CLEANSING SET" width="1100" height="1050">
                                    </picture>
                                </div>
                                <div class="sp">
                                    <picture>
                                        <source srcset="/assets/images/uptorigin/img_swiper-balm02_sp.webp"
                                            type="image/webp">
                                        <img src="/assets/images/uptorigin/img_swiper-balm02_sp.png"
                                            alt="CLEANSING SET" width="1035" height="1290">
                                    </picture>
                                </div>
                             </div>
                             <div class="swiper-slide">
                                 <div class="pc">
                                     <picture>
                                         <source srcset="/assets/images/uptorigin/img_swiper-balm03.webp"
                                             type="image/webp">
                                         <img src="/assets/images/uptorigin/img_swiper-balm03.png"
                                             alt="CLEANSING SET" width="1100" height="1050">
                                     </picture>
                                 </div>
                                 <div class="sp">
                                    <picture>
                                        <source srcset="/assets/images/uptorigin/img_swiper-balm03_sp.webp"
                                            type="image/webp">
                                        <img src="/assets/images/uptorigin/img_swiper-balm03_sp.png"
                                            alt="CLEANSING SET" width="1035" height="1290">
                                    </picture>
                                </div>
                             </div>
                         </div>
                         <div class="swiper-button-next"></div>
                         <div class="swiper-button-prev"></div>
                     </div>
                 </div>

                 <div class="cleansingSwiper">
                     <div thumbsSlider="" class="swiper mySwiper"
                         style="--swiper-navigation-color: #32667A; --swiper-pagination-color: #fff">

                         <div class="swiper-wrapper">
                             <div class="swiper-slide">
                                 <picture>
                                     <source srcset="/assets/images/uptorigin/img_swiper-balm01sm.webp"
                                         type="image/webp">
                                     <img src="/assets/images/uptorigin/img_swiper-balm01sm.png"
                                         alt="CLEANSING SET" width="678" height="525">
                                 </picture>
                             </div>


                             <div class="swiper-slide">
                                 <picture>
                                     <source srcset="/assets/images/uptorigin/img_swiper-balm02sm.webp"
                                         type="image/webp">
                                     <img src="/assets/images/uptorigin/img_swiper-balm02sm.png"
                                         alt="CLEANSING SET" width="678" height="525">
                                 </picture>
                             </div>
                             <div class="swiper-slide">
                                 <picture>
                                     <source srcset="/assets/images/uptorigin/img_swiper-balm03sm.webp"
                                         type="image/webp">
                                     <img src="/assets/images/uptorigin/img_swiper-balm03sm.png"
                                         alt="CLEANSING SET" width="678" height="525">
                                 </picture>
                             </div>
                         </div>


                     </div>
                 </div>
             </div>

         </div>

         <div class="uptblc__buyblc__spborder"></div>

         <div class="uptblc__buyblc--s">
             <div class="uptblc__buyblc--rblc">
                 <div class="uptblc__buyblc--contents">
                     <div>
                         <h2 class="upt__name uptblc__buyblc--txt00">CLEANSING<br>BALM</h2>
                         <h3 class="uptblc__buyblc--txt01">クレンジングバーム〈クレンジング〉<br><span style="font-style: italic">100g</span></h3>
                         <p class="uptblc__buyblc--txt02">
                            メイクや皮脂をしっかりと浮かせて、<br>
                            磨き上げたようななめらかなお肌に。<br>
                            体温でとろけるバームタイプのクレンジング料。<br>
                            なじませるとオイルに変化し<br>
                            摩擦を抑えながらつるんと落とします。
                         </p>

                         <p class="upt__price uptblc__buyblc--txt03">¥2,750 (tax in)</p>


                         <div class="uptblc__buyblc--btn">
                             <!-- 商品選択フォーム -->
                             <form action="/shop/cart/add" method="post">
                                 <div style="display: none">
                                     <!-- 規格選択 -->
                                     <input id="variant-id" type="hidden" name="variant_id"
                                         value="{{ product.master.id }}">
                                     <div id="option_types"></div>

                                     <!-- 数量選択 -->
                                     <label>数量</label>
                                     <input id="text-out-of-stock" value="在庫切れ" disabled style="display:none;">
                                     <select id="quantity" name="quantity" style="display:none;"></select>

                                     <!-- 再入荷お知らせ -->
                                     <a id="btn-stock-waiting-list" href="javascript:void(0);"
                                         style='display:none;'>再入荷お知らせ</a>
                                 </div>
                                 <!-- /display: none -->

                                 <!-- カート追加 -->
                                 <button id="btn-add">
                                     <p class="txt">購入はこちら</p><span></span>
                                 </button>

                             </form>

                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- ここまで -->
 </section>


 <section class="cleandingblc">
    <div class="cleandingblc__dright">
        <div class="pc">
            <picture>
                <source srcset="/assets/images/uptorigin/img_prodcut-balm.webp"
                    type="image/webp">
                <img src="/assets/images/uptorigin/img_prodcut-balm.jpg"
                    alt="CLEANSING SET" width="1102" height="701">
            </picture>
        </div>
        <div class="sp">
            <picture>
                <source srcset="/assets/images/uptorigin/img_prodcut-balm-sp.webp"
                    type="image/webp">
                <img src="/assets/images/uptorigin/img_prodcut-balm-sp.jpg"
                    alt="CLEANSING SET" width="690" height="726">
            </picture>
        </div>
    </div>
    <div class="cleandingblc__dleft">
        <div class="cleandingblc__setitem--top">
            <p class="cleandingblc__setitem--toptxt">手とお顔が乾いた状態で約2cmを目安に取り、手のひらでなじませる。<br>
                お顔の中心から外、下から上に優しくマッサージするようにメイクとなじませ、水またはぬるま湯でよく洗い流す。</p>
        </div>
        <div class="cleandingblc__setitem--absolute">
            <ul class="cleandingblc__setitem--list" id="js-accordion-wash">
                <li>
                    <p class="cleandingblc__setitem--list-ttl">4つのフリー処方<span></span></p>
                    <div class="cleandingblc__setitem--list-txt">
                        <div class="cleandingblc__setitem--listimg">
                            <div class="pc">
                                <picture>
                                    <source srcset="/assets/images/uptorigin/img_four-balm-pc.webp"
                                        type="image/webp">
                                    <img src="/assets/images/uptorigin/img_four-balm-pc.png"
                                        alt="4つの処方" width="892" height="250">
                                </picture>
                                
                            </div>
                            <div class="sp">
                                <picture>
                                    <source srcset="/assets/images/uptorigin/img_four-balm-sp.webp"
                                        type="image/webp">
                                    <img src="/assets/images/uptorigin/img_four-balm-sp.png"
                                        alt="4つの処方" width="509" height="473">
                                </picture>

                            </div>
                            
                        </div>
                    </div>
                </li>
                <li>
                    <p class="cleandingblc__setitem--list-ttl">成分<span></span></p>
                    <div class="cleandingblc__setitem--list-txt">
                        <p>パルミチン酸エチルヘキシル、オクチルドデカノール、トリイソステアリン酸PEGー２０グリセリル、合成ワックス、マカデミア種子油、水添ヒマシ油、ラウロイルグルタミン酸ジ（フィトステリル／オクチルドデシル）、ホホバ種子油、フェノキシエタノール、トコフェロール</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
 </section>


<section class="cleansing__point">
    <h2 class="uptblc__ttl">POINT</h2>
    <div class="cleansing__point--blcwrp">
        <div class="cleansing__point--blc">
            <div class="cleansing__point--blc-img">
                <div class="pc">
                    <picture>
                        <source srcset="/assets/images/uptorigin/img_prodcut-balm-pointpc.webp"
                            type="image/webp">
                        <img src="/assets/images/uptorigin/img_prodcut-balm-pointpc.jpg" alt="安達祐実" width="1102"
                            height="856" class="">
                    </picture>
                </div>
                <div class="sp">
                    <picture>
                        <source srcset="/assets/images/uptorigin/img_prodcut-balm-pointsp.webp"
                            type="image/webp">
                        <img src="/assets/images/uptorigin/img_prodcut-balm-pointsp.jpg" alt="安達祐実" width="690"
                            height="600" class="">
                    </picture>
                </div>

            </div>
        </div>
        <div class="cleansing__point--blc rborder-none">
            <div class="cleansing__point--blc-txt">
                <h3>CLEANSING BALM</h3>
                <h4>point - 1</h4>
                <p class="cleansing__point--txt">濡れた手でもスムーズに使えるワンタッチ式キャップのチューブを採用。手軽で衛生的なバームタイプのクレンジングを実現しました。</p>

                <h4>point - 2</h4>
                <p class="cleansing__point--txt">体温によってお肌の上でじゅわっととろけるバームタイプ。メイクや毛穴に詰まった角栓汚れにも素早くなじみ摩擦をかけずに簡単メイクオフ。</p>

                <h4>point - 3</h4>
                <p class="cleansing__point--txt">エモリエントオイルをたっぷり配合した、なめらかな使い心地で洗い上がりもつっぱらずしっとり仕上げます。</p>

            </div>
        </div>
    </div>

    
</section>

 <script src="/assets/cleansing.js"></script>
    
        
    
    
    <!-- /クレンジングバーム -->
        
    <!-- clensing ホイップウォッシュ -->
    
    
        
    
    
    <!-- /ホイップウォッシュ -->


    <!-- 定期商品 -->
    

    

    
    <!-- /定期商品 -->


    <!-- セット商品 -->
    


    

    
    <!-- /セット商品 -->


    <!-- トナー化粧品 -->
    

    

    
    <!-- /トナー化粧品 -->


    <!-- ミルク乳液 -->
    


    

    
    <!-- /ミルク乳液 -->



    <!-- クリーム -->
    


    

    
    <!-- /クリーム -->



    <!-- 共通block displaynone-->
    <div style="display: none;">
        <div id="product-show-view">

            <!-- 商品画像(任意) -->
            {% if product.thumbnail.url %}
            {% assign src = product.thumbnail.url %}
            {% else %}
            {% assign src = 'missing' | image_url %}
            {% endif %}
            <img src="{{ src }}" id="main-img">
            <div id="sub-images-view"></div>

            <!-- 商品名 -->
            {{ product.name }}

            <!-- 販売価格 -->
            <span id="sales-price">{{ product.first_price | number_to_currency: format: '%n %u' }}</span>
            <!-- 販売価格(税込) -->
            <span
                id="sales-price-include-tax">{{ product.first_price_include_tax | number_to_currency: format: '%n %u' }}</span>




            <!-- レビュー一覧 -->
            {% assign is_readable = product.id | check_review_reading_rule %}
            {% if is_readable %}

            {% if reviews.size == 0 %}
            この商品のレビューはありません。
            {% else %}
            <!-- レビュー件数(任意) -->
            {{ reviews.size }} 件のレビュー

            <!-- レビュー平均点(任意) -->
            {{ product.average_star }}

            {% for review in reviews %}

            <!-- レビュータイトル -->
            {{ review.title }}

            <!-- レビュー投稿日時(任意) -->
            {{ review.created_at | date: '%Y/%m/%d %H:%M:%S' }}

            <!-- 投稿者 -->
            {{ review.name }}

            <!-- 評価 -->
            {{ review.display_star }}

            <!-- レビューコメント -->
            {{ review.comment | simple_format }}

            {% endfor %}
            {% endif %}


            <!-- レビュー投稿フォーム -->
            {% assign is_writable = product.id | check_review_writing_rule %}
            {% if is_writable %}

            <!-- フラッシュメッセージ -->
            {{ 'notice' | flash: 'alert alert-success', 'text' }}
            {{ 'alert' | flash: 'alert alert-danger', 'text' }}
            {{ 'error' | flash: 'alert alert-danger', 'text' }}

            <form action="/shop/products/{{ product.id }}/review" method="post">

                <!-- 投稿者名 -->
                <label for="review_name">投稿者名</label>
                <input class="validate[required]" type="text" name="review[name]" id="review_name">

                <!-- メールアドレス -->
                <label for="review_email">メールアドレス</label>
                <input class="validate[required,custom[email]]" type="text"
                    {% if customer_signed_in %}disabled{% endif %} name="email" value="{{ current_customer.email }}"
                    id="review_email">

                <!-- 評価 -->
                <label for="review_star">おすすめレベル</label>
                <select class="validate[required,custom[number]]" name="review[star]" id="review_star">
                    <option value="5">★★★★★</option>
                    <option value="4">★★★★</option>
                    <option value="3">★★★</option>
                    <option value="2">★★</option>
                    <option value="1">★</option>
                </select>

                <!-- タイトル -->
                <label for="review_title">タイトル</label>
                <input class="validate[required,maxSize[20]]" type="text" name="review[title]" id="review_title">

                <!-- コメント -->
                <label for="review_comment">コメント</label>
                <textarea class="validate[required,maxSize[400]]" name="review[comment]" id="review_comment"></textarea>

                <!-- 投稿ボタン -->
                <button name="button" type="submit">投稿する</button>

            </form>
            {% endif %}
            {% endif %}



            <!-- 関連商品 -->
            {% if base_info.use_related_products_on_detail? and product.active_related_products.size != 0 %}

            <!-- 関連商品一覧 -->
            {% for related_product in product.active_related_products %}

            <!-- 関連商品画像(任意) -->
            <a href="/shop/products/{{ related_product.master.sku }}">
                {% if related_product.thumbnail.url %}
                {% assign src = related_product.thumbnail.url %}
                {% else %}
                {% assign src = 'missing' | image_url %}
                {% endif %}
                <img src="{{ src }}">
            </a>

            <!-- 関連商品名 -->
            <a href="/shop/products/{{ related_product.master.sku }}">{{ related_product.name | truncate: 35 }}</a>

            <!-- 販売価格 -->
            {{ related_product.master.list_price | number_to_currency: format: '%n %u' }}

            <!-- カート追加 -->
            <form action="/shop/cart/add" method="post">
                <input name="variant_id" type="hidden" value="{{ related_product.related_product_variants_id }}">
                <button>カートに追加する</button>
            </form>
            {% endfor %}
            {% endif %}

        </div>

        <!-- お気に入り登録 -->
        {% assign is_favorite = product.id | check_current_customer_favorite %}
        {% if is_favorite %}
        {% if customer_signed_in %}
        <form
            action="/shop/products/{{ product.master.sku }}/unfavorite?customer_return_to=%2Fshop%2Fproducts%2F{{ product.master.sku }}"
            method="post">
            <button data-disable-with="解除中..." type="submit">
                お気に入りに追加済み
            </button>
        </form>
        {% endif %}
        {% else %}
        <form
            action="/shop/products/{{ product.master.sku }}/favorite?customer_return_to=%2Fshop%2Fproducts%2F{{ product.master.sku }}"
            method="post">
            <button data-disable-with="登録中..." type="submit">
                お気に入りに追加
            </button>
        </form>
        {% endif %}
    </div>
    <!-- /共通block displaynone -->





    <!-- セット商品 -->
    

    

    
    <!-- /セット商品 -->

    <!-- クレンジングセット -->
    
    
        
    
        
        <!-- /クレンジングセット -->
    

    <!-- 潤い商品ONLYONLY -->
    

    

    
    

</main>


<!-- product01 -->




<!-- /共通block -->