








<main class="l-container js-main-container uptprodcut" role="main" id="product-show-view">


    <!-- アイメイク -->
    
    
        
        
        


<div class="cosme eye" id="eye">

<section class="item">
  <!-- {% comment %} 商品名 {% endcomment %} -->

  <h1 class="item__name" id="item__name">EYE COLOR PALETTE</h1>
  <div class="item__swiper">
    <!-- Slider main container -->
    <div class="swiper cosmeSwiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <picture>
            <source srcset="/assets/images/uptorigin/img_eye-swiper01.webp" type="image/webp">
            <img src="/assets/images/uptorigin/img_eye-swiper01.jpg" alt="" width="" height="">
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="/assets/images/uptorigin/img_eye-swiper03.webp" type="image/webp">
            <img src="/assets/images/uptorigin/img_eye-swiper03.jpg" alt="" width="" height="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="/assets/images/uptorigin/img_eye-swiper-color01.webp" type="image/webp">
            <img src="/assets/images/uptorigin/img_eye-swiper-color01.jpg" alt="" width="" height="">
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="/assets/images/uptorigin/img_eye-swiper05.webp" type="image/webp">
            <img src="/assets/images/uptorigin/img_eye-swiper05.jpg" alt="" width="" height="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="/assets/images/uptorigin/img_eye-swiper-color02.webp" type="image/webp">
            <img src="/assets/images/uptorigin/img_eye-swiper-color02.jpg" alt="" width="" height="">
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source srcset="/assets/images/uptorigin/img_eye-swiper07.webp" type="image/webp">
            <img src="/assets/images/uptorigin/img_eye-swiper07.jpg" alt="" width="" height="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="/assets/images/uptorigin/img_eye-swiper-color03.webp" type="image/webp">
            <img src="/assets/images/uptorigin/img_eye-swiper-color03.jpg" alt="" width="" height="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="/assets/images/uptorigin/img_eye-swiper08.webp" type="image/webp">
            <img src="/assets/images/uptorigin/img_eye-swiper08.jpg" alt="" width="" height="">
          </picture>
        </div>
      </div>

    </div>


    <div class="thumb__blc">
    <!-- Slider main container -->
    <div class="swiper cosmeSwiper__thumb">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <picture>
            <source srcset="/assets/images/uptorigin/img_eye-swiper_thumb01.webp" type="image/webp">
            <img src="/assets/images/uptorigin/img_eye-swiper_thumb01.jpg" alt="" width="" height="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="/assets/images/uptorigin/img_eye-swiper_thumb02.webp" type="image/webp">
            <img src="/assets/images/uptorigin/img_eye-swiper_thumb02.jpg" alt="" width="" height="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="/assets/images/uptorigin/img_eye-swiper_thumb03.webp" type="image/webp">
            <img src="/assets/images/uptorigin/img_eye-swiper_thumb03.jpg" alt="" width="" height="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="/assets/images/uptorigin/img_eye-swiper_thumb04.webp" type="image/webp">
            <img src="/assets/images/uptorigin/img_eye-swiper_thumb04.jpg" alt="" width="" height="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="/assets/images/uptorigin/img_eye-swiper_thumb05.webp" type="image/webp">
            <img src="/assets/images/uptorigin/img_eye-swiper_thumb05.jpg" alt="" width="" height="">
          </picture>

        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="/assets/images/uptorigin/img_eye-swiper_thumb06.webp" type="image/webp">
            <img src="/assets/images/uptorigin/img_eye-swiper_thumb06.jpg" alt="" width="" height="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="/assets/images/uptorigin/img_eye-swiper_thumb07.webp" type="image/webp">
            <img src="/assets/images/uptorigin/img_eye-swiper_thumb07.jpg" alt="" width="" height="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="/assets/images/uptorigin/img_eye-swiper_thumb08.webp" type="image/webp">
            <img src="/assets/images/uptorigin/img_eye-swiper_thumb08.jpg" alt="" width="" height="">
          </picture>
        </div>

      </div>

    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  </div>


  <div class="item__details">
    <div class="item__details--inner">
      <div class="item__details--lblc">
        
        
            <p class="item__details--name">EYE COLOR PALETTE</p>
            
  
        <p class="item__details--jpname">アイカラーパレット</p>
        <p class="item__details--price">¥2,420 <i>(tax in)</i></p>
      </div>
      <div class="item__details--icon">
        
        <img src="/assets/images/uptorigin/icon_eye.png" alt="" width="" height="">
      </div>
    </div>

    <div class="item__details--inner aic">
      <ul class="item__details--color eye" id="itemDetails">
        <li class="item__details--colorlist active" data-name="01 amber more" data-masterid="20" onclick="click01();"></li>
        <li class="item__details--colorlist" data-name="02 melty mellow" data-masterid="21" onclick="click02();"></li>
        <li class="item__details--colorlist" data-name="03 teddy coco" data-masterid="22" onclick="click03();""></li>
      </ul>
      <p class="item__details--kikaku" id="itemsKikaku">01 amber more</p>
    </div>


  </div>


  <div class="uptblc__buyblc--btn">
    <!-- 商品選択フォーム -->
    <form action="/shop/cart/add" method="post">
        <div style="display: none">
            <!-- 規格選択 -->
            <input id="variant-id" type="hidden" name="variant_id" value="{{ product.master.id }}">
            <div id="option_types"></div>

            <!-- 数量選択 -->
            <label>数量</label>
            <input id="text-out-of-stock" value="在庫切れ" disabled style="display:none;">
            <select id="quantity" name="quantity" style="display:none;"></select>

            <!-- 再入荷お知らせ -->
            <a id="btn-stock-waiting-list" href="javascript:void(0);" style='display:none;'>再入荷お知らせ</a>
        </div>
        <!-- /display: none -->

        <!-- カート追加 -->
        <button id="btn-add">
            <p class="txt">購入はこちら</p><span></span>
        </button>

    </form>

</div>


  <div class="item__intro">
    <picture>
      <source srcset="/assets/images/uptorigin/img_eye.webp" type="image/webp">
      <img src="/assets/images/uptorigin/img_eye.jpg" alt="" width="" height="">
    </picture>
    
    <p class="item__intro--name">EYE COLOR PALETTE</p>
    
    <p class="item__intro--txt">
      捨て色なしで使い方に迷わない<br>異なる3つの質感と色のレイヤードを楽しむアイカラー
    </p>


  </div>
  <ul class="item__variation eye" id="item__variation">
    <li>
      <div class="item__variation--himg">
        <picture>
          <source srcset="/assets/images/uptorigin/img_eye-hv01.webp" type="image/webp">
          <img src="/assets/images/uptorigin/img_eye-hv01.jpg" alt="" width="" height="">
        </picture>
      </div>

      <picture>
        <source srcset="/assets/images/uptorigin/img_eye-sv01.webp" type="image/webp">
        <img src="/assets/images/uptorigin/img_eye-sv01.png" alt="" width="" height="">
      </picture>

      <h2 class="item__variation--name">01 amber more</h2>
      <h3 class="item__variation--namejp">アンバーモア</h3>
      <p class="item__variation--txt">ヘルシーなオレンジパレット</p>
    </li>
    <li>
      <div class="item__variation--himg">
        <picture>
          <source srcset="/assets/images/uptorigin/img_eye-hv02.webp" type="image/webp">
          <img src="/assets/images/uptorigin/img_eye-hv02.jpg" alt="" width="" height="">
        </picture>
      </div>

      <picture>
        <source srcset="/assets/images/uptorigin/img_eye-sv02.webp" type="image/webp">
        <img src="/assets/images/uptorigin/img_eye-sv02.png" alt="" width="" height="">
      </picture>
      <h2 class="item__variation--name">02 melty mellow</h2>
      <h3 class="item__variation--namejp">メルティーメロウ</h3>
      <p class="item__variation--txt">甘くなりすぎないピンクパレット</p>
    </li>
    <li>
      <div class="item__variation--himg">
        <picture>
          <source srcset="/assets/images/uptorigin/img_eye-hv03.webp" type="image/webp">
          <img src="/assets/images/uptorigin/img_eye-hv03.jpg" alt="" width="" height="">
        </picture>
      </div>

      <picture>
        <source srcset="/assets/images/uptorigin/img_eye-sv03.webp" type="image/webp">
        <img src="/assets/images/uptorigin/img_eye-sv03.png" alt="" width="" height="">
      </picture>
      <h2 class="item__variation--name">03 teddy coco</h2>
      <h3 class="item__variation--namejp">テディココ</h3>
      <p class="item__variation--txt">シックなブラウンパレット</p>
    </li>
  </ul>

</section>


<section class="point" id="point">
  <h2 class="content__ttl"><span>POINT</span></h2>
  <div class="point__txtwrap point1">
    <h3 class="point__subttl">POINT1</h3>
    <p class="point__txt center">こだわりの3つの質感</p>
  </div>


  <div class="point__eyeimg">
    <picture>
      <source srcset="/assets/images/uptorigin/img_eye-point.webp" type="image/webp">
      <img src="/assets/images/uptorigin/img_eye-point.png" alt="" width="" height="">
    </picture>
  </div>

  <ol class="point__steps">
    <li>
      <p class="point__steps--ttl"><span class="icon">［A］</span><span>柔らかな質感でまぶたに溶け込むマット</span></p>
      <p class="point__steps--txt">見たままの発色で柔らかな質感のため色味の調整がしやすく、自分好みの目元にメイクできます。</p>
    </li>
    <li>
      <p class="point__steps--ttl"><span class="icon">［B］</span><span>目元のくすみを整える<inf>※1</inf>偏光パール配合のシマー</span></p>
      <p class="point__steps--txt">肌馴染みよく、白っぽい発色にならず明るく発光して目元のくすみを整えます。</p>
    </li>
    <li>
      <p class="point__steps--ttl"><span class="icon">［C］</span><span>異なるサイズの立体的にきらめくラメ</span></p>
      <p class="point__steps--txt">異なるサイズのラメや目元を綺麗に見せる色味のラメを配合し、光が当たった時に立体的に煌めきます。</p>
    </li>
  </ol>

  <div class="point__img">
    <picture>
      <source srcset="/assets/images/uptorigin/img_eye-point02.webp" type="image/webp">
      <img src="/assets/images/uptorigin/img_eye-point02.png" alt="" width="" height="">
    </picture>
  </div>
  <div class="point__txtwrap">

    <h3 class="point__subttl">POINT2</h3>
    <p class="point__txt">デイリー使いしやすいカラーバリエーション</p>
    <p class="point__small">年齢・お肌のトーンを選ばず使っていただきやすい3色をそれぞれのパレットにセットしました。透け感のある発色なので様々なメイクに挑戦しやすいです。</p>
  </div>
  <div class="point__txtwrap">
    <h3 class="point__subttl">POINT3</h3>
    <p class="point__txt">美容保湿成分配合</p>
    <p class="point__small">美容保湿成分としてヒアルロン酸Na・ホホバオイル<inf>※2</inf>を配合いたしました。（すべて保湿成分）</p>
  </div>
  <div class="content__smallblc">
    <p class="point__notice">※1 メイクアップ効果による　※2 ホホバ種子油</p>

  </div>
</section>

<section class="prescription" id="prescription">
  <details class="prescription__blc">
    <summary class="prescription__blc--small">
      <p class="prescription__ttl">4つのフリー処方</p>
      <span class="prescription__arrow--plus"></span>
    </summary>
    <div class="prescription__sblc">
      <div class="prescription__sblc--two">
        
        <img src="/assets/images/uptorigin/img_seibun-eye.png" alt="" width="" height="">
      </div>
    </div>
  </details>
  <details class="prescription__blc">
    <summary class="prescription__blc--small">
      <p class="prescription__ttl">成分</p>
      <span class="prescription__arrow--plus"></span>
    </summary>
    <div class="prescription__sblc">
      <p class="prescription__sblc--ttl">01 アンバーモア</p>
      <p class="prescription__sblc--seibun">
        ＜成分＞タルク、ナイロン－１２、ジメチコン、イソステアリン酸水添ヒマシ油、ラウリン酸亜鉛、窒化ホウ素、水添ポリイソブテン、トリエチルヘキサノイン、リンゴ酸ジイソステアリル、イソステアリン酸グリセリズ、トリ（カプリル酸／カプリン酸／ミリスチン酸／ステアリン酸）グリセリル、エチルヘキサン酸セチル、ホホバ種子油、ペンチレングリコール、メチルパラベン、エチルヘキシルグリセリン、トコフェロール、水添パーム核油、ヘキサヒドロキシステアリン酸ジペンタエリスリチル、ヒアルロン酸Ｎａ、１，２－ヘキサンジオール、イソステアリン酸ソルビタン、ヘキサ（ヒドロキシステアリン酸／ステアリン酸／ロジン酸）ジペンタエリスリチル、ミネラルオイル、（ＨＤＩ／トリメチロールヘキシルラクトン）クロスポリマー、イソドデカン、マイカ、シリカ、酸化鉄、黄４、合成フルオロフロゴパイト、酸化チタン、ホウケイ酸（Ｃａ／Ａｌ）、赤２２６、ホウケイ酸（Ｃａ／チタン）、酸化スズ
      </p>

      <p class="prescription__sblc--ttl mt20">02 メルティーメロウ</p>
      <p class="prescription__sblc--seibun">
        ＜成分＞タルク、ナイロン－１２、ジメチコン、イソステアリン酸水添ヒマシ油、ラウリン酸亜鉛、窒化ホウ素、水添ポリイソブテン、トリエチルヘキサノイン、リンゴ酸ジイソステアリル、イソステアリン酸グリセリズ、ホホバ種子油、エチルヘキサン酸セチル、ペンチレングリコール、メチルパラベン、エチルヘキシルグリセリン、トコフェロール、水添パーム核油、ヘキサヒドロキシステアリン酸ジペンタエリスリチル、トリ（カプリル酸／カプリン酸／ミリスチン酸／ステアリン酸）グリセリル、ヒアルロン酸Ｎａ、ミネラルオイル、１，２－ヘキサンジオール、イソステアリン酸ソルビタン、ヘキサ（ヒドロキシステアリン酸／ステアリン酸／ロジン酸）ジペンタエリスリチル、（ＨＤＩ／トリメチロールヘキシルラクトン）クロスポリマー、イソドデカン、マイカ、シリカ、グンジョウ、酸化鉄、赤２２６、合成フルオロフロゴパイト、酸化チタン、ホウケイ酸（Ｃａ／Ｎａ）、ホウケイ酸（Ｃａ／チタン）、ホウケイ酸（Ｃａ／Ａｌ）、酸化スズ
      </p>

      <p class="prescription__sblc--ttl mt20">03 テディココ</p>
      <p class="prescription__sblc--seibun">
        ＜成分＞タルク、ナイロン－１２、ジメチコン、イソステアリン酸水添ヒマシ油、ラウリン酸亜鉛、窒化ホウ素、水添ポリイソブテン、トリエチルヘキサノイン、リンゴ酸ジイソステアリル、イソステアリン酸グリセリズ、ホホバ種子油、エチルヘキサン酸セチル、ペンチレングリコール、メチルパラベン、エチルヘキシルグリセリン、トコフェロール、水添パーム核油、ヘキサヒドロキシステアリン酸ジペンタエリスリチル、ヒアルロン酸Ｎａ、トリ（カプリル酸／カプリン酸／ミリスチン酸／ステアリン酸）グリセリル、１，２－ヘキサンジオール、イソステアリン酸ソルビタン、ヘキサ（ヒドロキシステアリン酸／ステアリン酸／ロジン酸）ジペンタエリスリチル、（ＨＤＩ／トリメチロールヘキシルラクトン）クロスポリマー、ミネラルオイル、イソドデカン、マイカ、シリカ、酸化スズ、酸化鉄、赤２２６、合成フルオロフロゴパイト、酸化チタン、水酸化Ａｌ、ホウケイ酸（Ｃａ／Ａｌ）、ホウケイ酸（Ｃａ／Ｎａ）、ホウケイ酸（Ｃａ／チタン）
      </p>
    </div>
  </details>
</section>


<section class="itemlast" id="itemlast">
  <div class="itemlast__img">
    <picture>
      <source srcset="/assets/images/uptorigin/img_eye--btm.webp" type="image/webp">
      <img src="/assets/images/uptorigin/img_eye--btm.jpg" alt="" width="" height="">
    </picture>
  </div>
  <p class="itemlast__txt">気分にあわせて<br>
    いつだってなりたい自分に</p>
</section>

<section class="otheritem" id="cosmeOther">
  <h2 class="otheritem__ttl">OTHER PRODUCTS</h2>
  

<ul class="lineup__list">
  <li>
    <a href="/shop/products/4595121188356">
      <div class="lineup__list--img">
        <picture>
          <source srcset="{{ theme_file_root_path }}/assets/images/uptorigin/img_cosme-product01.webp" type="image/webp">
          <img src="{{ theme_file_root_path }}/assets/images/uptorigin/img_cosme-product01.jpg" alt="" width="400"
            height="400">
        </picture>
        <div class="lineup__list--badge"></div>
        <span class="lineup__list--badge-new">NEW</span>
      </div>
      <p class="lineup__list--name">SKIN BASE CREAM</p>
      <p class="lineup__list--namejp">スキンベースクリーム</p>
    </a>
  </li>
  <li>
    <a href="/shop/products/4595121188394">
      <div class="lineup__list--img">
        <picture>
          <source srcset="{{ theme_file_root_path }}/assets/images/uptorigin/img_cosme-product02.webp" type="image/webp">
          <img src="{{ theme_file_root_path }}/assets/images/uptorigin/img_cosme-product02.jpg" alt="" width="400"
            height="400">
        </picture>
        <div class="lineup__list--badge"></div>
        <span class="lineup__list--badge-new">NEW</span>
      </div>
      <p class="lineup__list--name">PERFECT BASE PALETTE</p>
      <p class="lineup__list--namejp">パーフェクトベースパレット</p>
    </a>
  </li>
  <li>
    <a href="/shop/products/4595121188363">
      <div class="lineup__list--img">
        <picture>
          <source srcset="{{ theme_file_root_path }}/assets/images/uptorigin/img_cosme-product03.webp" type="image/webp">
          <img src="{{ theme_file_root_path }}/assets/images/uptorigin/img_cosme-product03.jpg" alt="" width="400"
            height="400">
        </picture>
        <div class="lineup__list--badge"></div>
        <span class="lineup__list--badge-new">NEW</span>


      </div>
      <p class="lineup__list--name">EYE COLOR PALETTE</p>
      <p class="lineup__list--namejp">アイカラーパレット</p>
      <div class="lineup__list--color">
        <img src="{{ theme_file_root_path }}/assets/images/uptorigin/color_cosme-eye.png" alt="" width="151" height="27">
      </div>
    </a>
  </li>
  <li>
    <a href="/shop/products/4595121188424">
      <div class="lineup__list--img">
        <picture>
          <source srcset="{{ theme_file_root_path }}/assets/images/uptorigin/img_cosme-product04.webp" type="image/webp">
          <img src="{{ theme_file_root_path }}/assets/images/uptorigin/img_cosme-product04.jpg" alt="" width="400"
            height="400">
        </picture>
        <div class="lineup__list--badge"></div>
        <span class="lineup__list--badge-new">NEW</span>


      </div>
      <p class="lineup__list--name">WATERY SHEER LIP</p>
      <p class="lineup__list--namejp">ウォータリーシアーリップ</p>
      <div class="lineup__list--color">
        <img src="{{ theme_file_root_path }}/assets/images/uptorigin/color_cosme-rip.png" alt="" width="151" height="27">
      </div>
    </a>
  </li>
</ul>

</section>

</div>

        
    
    
    <!-- /アイメイク -->


    <!-- リップ -->
    
    
        
    
    
    <!-- /リップ -->

    <!-- スキンベースクリーム -->
    
    
        
    
    
    <!-- /スキンベースクリーム -->

    <!-- スキンベースクリーム -->
    
    
        
    
    
    <!-- /スキンベースクリーム -->


    <!-- mask マスク -->
    
    
        
    
    
    <!-- /マスク -->


    <!-- handcream ハンドクリーム -->
    
    
        
    
    
    <!-- /ハンドクリーム -->

    <!-- cset クレンジングセット -->
    
    
        
    
    
    <!-- /クレンジングセット -->

    <!-- clensing クレンジングバーム -->
    
    
        
    
    
    <!-- /クレンジングバーム -->
        
    <!-- clensing ホイップウォッシュ -->
    
    
        
    
    
    <!-- /ホイップウォッシュ -->


    <!-- 定期商品 -->
    

    

    
    <!-- /定期商品 -->


    <!-- セット商品 -->
    


    

    
    <!-- /セット商品 -->


    <!-- トナー化粧品 -->
    

    

    
    <!-- /トナー化粧品 -->


    <!-- ミルク乳液 -->
    


    

    
    <!-- /ミルク乳液 -->



    <!-- クリーム -->
    


    

    
    <!-- /クリーム -->



    <!-- 共通block displaynone-->
    <div style="display: none;">
        <div id="product-show-view">

            <!-- 商品画像(任意) -->
            {% if product.thumbnail.url %}
            {% assign src = product.thumbnail.url %}
            {% else %}
            {% assign src = 'missing' | image_url %}
            {% endif %}
            <img src="{{ src }}" id="main-img">
            <div id="sub-images-view"></div>

            <!-- 商品名 -->
            {{ product.name }}

            <!-- 販売価格 -->
            <span id="sales-price">{{ product.first_price | number_to_currency: format: '%n %u' }}</span>
            <!-- 販売価格(税込) -->
            <span
                id="sales-price-include-tax">{{ product.first_price_include_tax | number_to_currency: format: '%n %u' }}</span>




            <!-- レビュー一覧 -->
            {% assign is_readable = product.id | check_review_reading_rule %}
            {% if is_readable %}

            {% if reviews.size == 0 %}
            この商品のレビューはありません。
            {% else %}
            <!-- レビュー件数(任意) -->
            {{ reviews.size }} 件のレビュー

            <!-- レビュー平均点(任意) -->
            {{ product.average_star }}

            {% for review in reviews %}

            <!-- レビュータイトル -->
            {{ review.title }}

            <!-- レビュー投稿日時(任意) -->
            {{ review.created_at | date: '%Y/%m/%d %H:%M:%S' }}

            <!-- 投稿者 -->
            {{ review.name }}

            <!-- 評価 -->
            {{ review.display_star }}

            <!-- レビューコメント -->
            {{ review.comment | simple_format }}

            {% endfor %}
            {% endif %}


            <!-- レビュー投稿フォーム -->
            {% assign is_writable = product.id | check_review_writing_rule %}
            {% if is_writable %}

            <!-- フラッシュメッセージ -->
            {{ 'notice' | flash: 'alert alert-success', 'text' }}
            {{ 'alert' | flash: 'alert alert-danger', 'text' }}
            {{ 'error' | flash: 'alert alert-danger', 'text' }}

            <form action="/shop/products/{{ product.id }}/review" method="post">

                <!-- 投稿者名 -->
                <label for="review_name">投稿者名</label>
                <input class="validate[required]" type="text" name="review[name]" id="review_name">

                <!-- メールアドレス -->
                <label for="review_email">メールアドレス</label>
                <input class="validate[required,custom[email]]" type="text"
                    {% if customer_signed_in %}disabled{% endif %} name="email" value="{{ current_customer.email }}"
                    id="review_email">

                <!-- 評価 -->
                <label for="review_star">おすすめレベル</label>
                <select class="validate[required,custom[number]]" name="review[star]" id="review_star">
                    <option value="5">★★★★★</option>
                    <option value="4">★★★★</option>
                    <option value="3">★★★</option>
                    <option value="2">★★</option>
                    <option value="1">★</option>
                </select>

                <!-- タイトル -->
                <label for="review_title">タイトル</label>
                <input class="validate[required,maxSize[20]]" type="text" name="review[title]" id="review_title">

                <!-- コメント -->
                <label for="review_comment">コメント</label>
                <textarea class="validate[required,maxSize[400]]" name="review[comment]" id="review_comment"></textarea>

                <!-- 投稿ボタン -->
                <button name="button" type="submit">投稿する</button>

            </form>
            {% endif %}
            {% endif %}



            <!-- 関連商品 -->
            {% if base_info.use_related_products_on_detail? and product.active_related_products.size != 0 %}

            <!-- 関連商品一覧 -->
            {% for related_product in product.active_related_products %}

            <!-- 関連商品画像(任意) -->
            <a href="/shop/products/{{ related_product.master.sku }}">
                {% if related_product.thumbnail.url %}
                {% assign src = related_product.thumbnail.url %}
                {% else %}
                {% assign src = 'missing' | image_url %}
                {% endif %}
                <img src="{{ src }}">
            </a>

            <!-- 関連商品名 -->
            <a href="/shop/products/{{ related_product.master.sku }}">{{ related_product.name | truncate: 35 }}</a>

            <!-- 販売価格 -->
            {{ related_product.master.list_price | number_to_currency: format: '%n %u' }}

            <!-- カート追加 -->
            <form action="/shop/cart/add" method="post">
                <input name="variant_id" type="hidden" value="{{ related_product.related_product_variants_id }}">
                <button>カートに追加する</button>
            </form>
            {% endfor %}
            {% endif %}

        </div>

        <!-- お気に入り登録 -->
        {% assign is_favorite = product.id | check_current_customer_favorite %}
        {% if is_favorite %}
        {% if customer_signed_in %}
        <form
            action="/shop/products/{{ product.master.sku }}/unfavorite?customer_return_to=%2Fshop%2Fproducts%2F{{ product.master.sku }}"
            method="post">
            <button data-disable-with="解除中..." type="submit">
                お気に入りに追加済み
            </button>
        </form>
        {% endif %}
        {% else %}
        <form
            action="/shop/products/{{ product.master.sku }}/favorite?customer_return_to=%2Fshop%2Fproducts%2F{{ product.master.sku }}"
            method="post">
            <button data-disable-with="登録中..." type="submit">
                お気に入りに追加
            </button>
        </form>
        {% endif %}
    </div>
    <!-- /共通block displaynone -->





    <!-- セット商品 -->
    

    

    
    <!-- /セット商品 -->

    <!-- クレンジングセット -->
    
    
        
    
        
        <!-- /クレンジングセット -->
    

    <!-- 潤い商品ONLYONLY -->
    

    

    



    
    

    

    


    


    <!-- <a#% if ((pageinit.product === 'toner') ||(pageinit.product === 'milk') ||(pageinit.product === 'cream') ||(pageinit.product === 'handcream')  || (pageinit.product === 'all')) { 
        <#%- include('./_uruou', { meta: imgpath }); 
    <3% }  -->


    



    

</main>


<!-- product01 -->


<link rel="stylesheet" href="{{ theme_file_root_path }}/assets/product.css" type="text/css">
<!-- <link rel="stylesheet" href="{{ theme_file_root_path }}/assets/product_renew.css" type="text/css"> -->








<!-- Face -->


    
        <!-- <link rel="stylesheet" href="/assets/product_renew.css" type="text/css"> -->
        <script src="/assets/renewproduct.js"></script>
        <script src="/assets/swiperRenew.js"></script>
    


<!-- Face -->

<!-- /skincare -->

 
    


<!-- skincare -->


