








<main class="l-container js-main-container uptprodcut" role="main" id="product-show-view">


    <!-- handcream ハンドクリーム -->
    
    
        
    
    
    <!-- /ハンドクリーム -->

    <!-- cset クレンジングセット -->
    
    
        
    
    
    <!-- /クレンジングセット -->

    <!-- clensing クレンジングバーム -->
    
    
        
    
    
    <!-- /クレンジングバーム -->
        
    <!-- clensing ホイップウォッシュ -->
    
    
        
        
         <section class="uptproduct__fv" id="whipwash">
     <!-- ここから -->
     <div class="uptblc__buyblc">
         <div class="uptblc__buyblc--img">
             <div class="uptblc__buyblc--swiper" id="js-cleansingSwiper">
                 <div class="cleansingSwiper01">
                     <div class="swiper mySwiper2">
                         <div class="swiper-wrapper">
                             <div class="swiper-slide">
                                 <div class="pc">
                                     <!-- <picture>
                                        <source srcset="/assets/images/uptorigin/img_swiper-wash01.webp"
                                            type="image/webp">
                                        <img src="/assets/images/uptorigin/img_swiper-wash01.png"
                                            alt="CLEANSING SET" width="1102" height="1048">
                                    </picture> -->
                                     <img src="/assets/images/uptorigin/img_swiper-wash01-new.png"
                                         alt="CLEANSING SET" width="1653" height="1572">
                                 </div>
                                 <div class="sp">
                                     <!-- <picture>
                                        <source srcset="/assets/images/uptorigin/img_swiper-wash01_sp.webp"
                                            type="image/webp">
                                        <img src="/assets/images/uptorigin/img_swiper-wash01_sp.png"
                                            alt="CLEANSING SET" width="1035" height="1290">
                                    </picture> -->
                                     <img src="/assets/images/uptorigin/img_swiper-wash01_sp-new.png"
                                         alt="CLEANSING SET" width="1035" height="1290">
                                 </div>
                             </div>

                             <div class="swiper-slide">
                                 <div class="pc">
                                     <picture>
                                         <source
                                             srcset="/assets/images/uptorigin/img_swiper-wash020b.webp"
                                             type="image/webp">
                                         <img src="/assets/images/uptorigin/img_swiper-wash020b.png"
                                             alt="CLEANSING SET" width="1653" height="1572">
                                     </picture>
                                 </div>
                                 <div class="sp">
                                     <picture>
                                         <source
                                             srcset="/assets/images/uptorigin/img_swiper-wash02_sp.webp"
                                             type="image/webp">
                                         <img src="/assets/images/uptorigin/img_swiper-wash02_sp.jpg"
                                             alt="CLEANSING SET" width="1035" height="1290">
                                     </picture>
                                 </div>
                             </div>
                             <div class="swiper-slide">
                                 <div class="pc">
                                     <picture>
                                         <source srcset="/assets/images/uptorigin/img_swiper-wash03.webp"
                                             type="image/webp">
                                         <img src="/assets/images/uptorigin/img_swiper-wash03.jpg"
                                             alt="CLEANSING SET" width="1653" height="1572">
                                     </picture>
                                 </div>
                                 <div class="sp">
                                     <picture>
                                         <source
                                             srcset="/assets/images/uptorigin/img_swiper-wash03_sp.webp"
                                             type="image/webp">
                                         <img src="/assets/images/uptorigin/img_swiper-wash03_sp.jpg"
                                             alt="CLEANSING SET" width="1035" height="1290">
                                     </picture>
                                 </div>
                             </div>
                         </div>
                         <div class="swiper-button-next"></div>
                         <div class="swiper-button-prev"></div>
                     </div>
                 </div>

                 <div class="cleansingSwiper">
                     <div thumbsSlider="" class="swiper mySwiper"
                         style="--swiper-navigation-color: #32667A; --swiper-pagination-color: #fff">

                         <div class="swiper-wrapper">
                             <div class="swiper-slide">
                                 <picture>
                                     <source srcset="/assets/images/uptorigin/img_swiper-wash01sm.webp"
                                         type="image/webp">
                                     <img src="/assets/images/uptorigin/img_swiper-wash01sm.png"
                                         alt="CLEANSING SET" width="678" height="525">
                                 </picture>
                             </div>


                             <div class="swiper-slide">
                                 <picture>
                                     <source srcset="/assets/images/uptorigin/img_swiper-wash02sm.webp"
                                         type="image/webp">
                                     <img src="/assets/images/uptorigin/img_swiper-wash02sm.jpg"
                                         alt="CLEANSING SET" width="678" height="525">
                                 </picture>
                             </div>
                             <div class="swiper-slide">
                                 <picture>
                                     <source srcset="/assets/images/uptorigin/img_swiper-wash03sm.webp"
                                         type="image/webp">
                                     <img src="/assets/images/uptorigin/img_swiper-wash03sm.jpg"
                                         alt="CLEANSING SET" width="678" height="525">
                                 </picture>
                             </div>
                         </div>


    
                        </div>
                 </div>
             </div>

         </div>

         <div class="uptblc__buyblc__spborder"></div>

         <div class="uptblc__buyblc--s">
             <div class="uptblc__buyblc--rblc">
                 <div class="uptblc__buyblc--contents">
                    <div class="uptproducts__position">
                         <h2 class="upt__name uptblc__buyblc--txt00">CREAMY<br>WHIP WASH</h2>
                         <div class="uptproducts__position--icon wash">クリームホイップウォッシュのアイコン</div>

                         <h3 class="uptblc__buyblc--txt01">クリーミーホイップウォッシュ〈洗顔料〉<br><span
                                 style="font-style: italic">200mL</span></h3>
                         <p class="uptblc__buyblc--txt02">
                             不要な汚れや皮脂をすっきりとオフし、クリアで明るい素肌に。泡立て不要な手軽に使えるフォームタイプの洗顔料。<br>
                             きめ細やかでクリーミー、生クリームのような弾力のある泡で摩擦レスにうるおいを与えながらやさしく洗いあげます。
                         </p>

                         <p class="upt__price uptblc__buyblc--txt03">¥2,530 (tax in)</p>

                         <div class="uptblc__buyblc--btn">
                             <!-- 商品選択フォーム -->
                             <form action="/shop/cart/add" method="post">
                                 <div style="display: none">
                                     <!-- 規格選択 -->
                                     <input id="variant-id" type="hidden" name="variant_id"
                                         value="{{ product.master.id }}">
                                     <div id="option_types"></div>

                                     <!-- 数量選択 -->
                                     <label>数量</label>
                                     <input id="text-out-of-stock" value="在庫切れ" disabled style="display:none;">
                                     <select id="quantity" name="quantity" style="display:none;"></select>

                                     <!-- 再入荷お知らせ -->
                                     <a id="btn-stock-waiting-list" href="javascript:void(0);"
                                         style='display:none;'>再入荷お知らせ</a>
                                 </div>
                                 <!-- /display: none -->

                                 <!-- カート追加 -->
                                 <button id="btn-add">
                                     <p class="txt">購入はこちら</p><span></span>
                                 </button>

                             </form>

                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- ここまで -->
 </section>
<div id="washrefill" style="padding-top: 90px; margin-top: -90px;"></div>
 <section class="washrefill">
    <div class="washrefill__blc right">
        <picture>
            <source srcset="/assets/images/uptorigin/img_whiprefill-pc.webp"
                type="image/webp">
            <img src="/assets/images/uptorigin/img_whiprefill-pc.jpg"
                alt="WHIP WASH REFIELL" width="2204" height="1921">
        </picture>

    </div>
    <div class="washrefill__blc left">
        <div class="cleandingblc__setitem--top">
            <div>
                <p class="product__subttl">CREAMY WHIP WASH<br>
                    REFILL</p>
                <p class="cleandingblc__setitem--toptxt">クリーミーホイップウォッシュ<br>
                    つめかえ用〈洗顔料〉</p>
                <p class="product__txt--italic">180mL</p>
                <p class="upt__price uptblc__buyblc--txt03">¥1,760 (tax in)</p>
                <div class="smallcart">
                    <div class="uptblc__buyblc--btn">
                        <!-- 商品選択フォーム -->
                        <form action="/shop/cart/add" method="post">
                            <div style="display: none">
                                <!-- 規格選択 -->
                                <input id="variant-id" type="hidden" name="variant_id" value="16">
                                <div id="option_types"></div>
                    
                                <!-- 数量選択 -->
                                <label>数量</label>
                                <input id="text-out-of-stock" value="在庫切れ" disabled style="display:none;">
                                <select id="quantity" name="quantity" style="display:none;"></select>
                    
                                <!-- 再入荷お知らせ -->
                                <a id="btn-stock-waiting-list" href="javascript:void(0);"
                                    style='display:none;'>再入荷お知らせ</a>
                            </div>
                            <!-- /display: none -->
                    
                            <!-- カート追加 -->
                            <button id="btn-add">
                                <p class="txt">購入はこちら</p><span></span>
                            </button>
                    
                        </form>
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="cleandingblc__setitem--absolute">
            <ul class="cleandingblc__setitem--list" id="js-accordion-wash">
                <li>
                    <p class="cleandingblc__setitem--list-ttl">商品説明<span></span></p>
                    <div class="cleandingblc__setitem--list-txt">
                        <p>クリーミーホイップウォッシュのエコなつめかえ用。「クリーミーホイップウォッシュ」の容器につめかえてご使用ください。<br>
                            不要な汚れや皮脂をすっきりとオフし、クリアで明るい素肌に。きめ細やかな弾力のある泡で摩擦レスにうるおいを与えながらやさしく洗いあげます。</p>

                    </div>
                </li>
                <li>
                    <p class="cleandingblc__setitem--list-ttl">ボトルへのつめかえ方<span></span></p>
                    <div class="cleandingblc__setitem--list-txt">
                        <p>本体ボトルのキャップをまわして開けます。<br><br>
                            ① 開ける<br>
                            パック上部にあるそそぎ口の点線に沿って切り取ってください。（手で簡単に切れます）<br><br>
                            ② そそぐ<br>
                            そそぎ口をボトルに差し込んで、ゆっくりそそいでください。<br>
                            液がこぼれないよう、ボトルのキャップをしっかり閉めてください。<br><br>
                            
                            ●つめかえ時は雑菌が入るのを防ぐため、空のボトルの内側は洗わずにそのままつめかえてください。<br>
                            ●「ウプト　クリーミーホイップウォッシュ」の容器につめかえてください。</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
 </section>

 <section class="cleandingblc tereco">
    <div class="cleandingblc__dright">
        <div class="pc">
            <picture>
                <source srcset="/assets/images/uptorigin/img_prodcut-wash.webp"
                    type="image/webp">
                <img src="/assets/images/uptorigin/img_prodcut-wash.jpg"
                    alt="CLEANSING SET" width="1653" height="1052">
            </picture>
        </div>
        <div class="sp">
            <picture>
                <source srcset="/assets/images/uptorigin/img_prodcut-wash-sp.webp"
                    type="image/webp">
                <img src="/assets/images/uptorigin/img_prodcut-wash-sp.jpg"
                    alt="CLEANSING SET" width="1035" height="1089">
            </picture>
        </div>
    </div>
    <div class="cleandingblc__dleft">
        <div class="cleandingblc__setitem--top">
            <p class="cleandingblc__setitem--toptxt">2〜3プッシュを手に取り、 お肌を強く擦らないようにくるくると円を描きながらやさしく洗った後、水またはぬるま湯でよく洗い流す。</p>
        </div>
        <div class="cleandingblc__setitem--absolute">
            <ul class="cleandingblc__setitem--list" id="js-accordion-wash">
                <li class="wash">
                    <p class="cleandingblc__setitem--list-ttl">7つのフリー処方<span></span></p>
                    <div class="cleandingblc__setitem--list-txt">
                        <div class="cleandingblc__setitem--listimg">
                            <div class="pc">
                                <picture>
                                    <source srcset="/assets/images/uptorigin/img_sevenwash-pc.webp"
                                        type="image/webp">
                                    <img src="/assets/images/uptorigin/img_sevenwash-pc.png"
                                        alt="4つの処方" width="890" height="448">
                                </picture>
                                
                            </div>
                            <div class="sp">
                                <picture>
                                    <source srcset="/assets/images/uptorigin/img_sevenwash-sp.webp"
                                        type="image/webp">
                                    <img src="/assets/images/uptorigin/img_sevenwash-sp.png"
                                        alt="4つの処方" width="582" height="674">
                                </picture>

                            </div>
                            
                        </div>
                    </div>
                </li>
                <li>
                    <p class="cleandingblc__setitem--list-ttl">成分<span></span></p>
                    <div class="cleandingblc__setitem--list-txt">
                        <p>水、グリコシルトレハロース、ＰＥＧ－１５０、ラウロイルアスパラギン酸Ｎａ、加水分解水添デンプン、ココイルグルタミン酸ＴＥＡ、ラウリン酸ポリグリセリル－１０、コカミドプロピルベタイン、ＢＧ、ペンチレングリコール、コメ発酵液、トウミツ、酒粕エキス、パイナップル果実エキス、ユズ果実エキス、ペンテト酸５Ｎａ、１，２－ヘキサンジオール、カプリリルグリコール、フェノキシエタノール</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
 </section>




 <section class="cleansing__point">
     <h2 class="uptblc__ttl">POINT</h2>
     <div class="cleansing__point--blcwrp">
         <div class="cleansing__point--blc">
             <div class="cleansing__point--blc-img">
                 <div class="pc">
                     <img src="/assets/images/uptorigin/img_prodcut-wash-pointpc02b.jpg" alt="安達祐実"
                         width="1653" height="1284" class="">
                 </div>
                 <div class="sp">
                     <img src="/assets/images/uptorigin/img_cleansing-points03.jpg" alt="安達祐実"
                         width="1035" height="900" class="">
                 </div>

             </div>
         </div>
         <div class="cleansing__point--blc rborder-none">
             <div class="cleansing__point--blc-txt">
                 <h3>CREAMY WHIP WASH</h3>
                 <h4>point - 1</h4>
                 <p class="cleansing__point--txt">摩擦による肌ストレスを抑えるもっちりとしたきめ細やかな贅沢泡がワンプッシュで出てくるこだわりのポンプタイプ。</p>

                 <h4>point - 2</h4>
                 <p class="cleansing__point--txt">お肌に必要なうるおいは残しつつ余分な皮脂や汚れをしっかり洗い流すアミノ酸系洗顔料で、やさしい使い心地を実現しました。</p>

                 <h4>point - 3</h4>
                 <p class="cleansing__point--txt">うるおいを保つ2種のセラミド<span>※1</span>、肌を整える3種の発酵成分<span>※2</span>
                     を配合しお肌をすこやかに保ちます。</p>
                 <p class="cleansing__point--note">※1 ユズ果実エキス、パイナップル果実エキス　※2 コメ発酵液、トウミツ、酒粕エキス</p>
             </div>
         </div>
     </div>


 </section>

 <script src="/assets/cleansing.js"></script>
    
        
    
    
    <!-- /ホイップウォッシュ -->


    <!-- 定期商品 -->
    

    

    
    <!-- /定期商品 -->


    <!-- セット商品 -->
    


    

    
    <!-- /セット商品 -->


    <!-- トナー化粧品 -->
    

    

    
    <!-- /トナー化粧品 -->


    <!-- ミルク乳液 -->
    


    

    
    <!-- /ミルク乳液 -->



    <!-- クリーム -->
    


    

    
    <!-- /クリーム -->



    <!-- 共通block displaynone-->
    <div style="display: none;">
        <div id="product-show-view">

            <!-- 商品画像(任意) -->
            {% if product.thumbnail.url %}
            {% assign src = product.thumbnail.url %}
            {% else %}
            {% assign src = 'missing' | image_url %}
            {% endif %}
            <img src="{{ src }}" id="main-img">
            <div id="sub-images-view"></div>

            <!-- 商品名 -->
            {{ product.name }}

            <!-- 販売価格 -->
            <span id="sales-price">{{ product.first_price | number_to_currency: format: '%n %u' }}</span>
            <!-- 販売価格(税込) -->
            <span
                id="sales-price-include-tax">{{ product.first_price_include_tax | number_to_currency: format: '%n %u' }}</span>




            <!-- レビュー一覧 -->
            {% assign is_readable = product.id | check_review_reading_rule %}
            {% if is_readable %}

            {% if reviews.size == 0 %}
            この商品のレビューはありません。
            {% else %}
            <!-- レビュー件数(任意) -->
            {{ reviews.size }} 件のレビュー

            <!-- レビュー平均点(任意) -->
            {{ product.average_star }}

            {% for review in reviews %}

            <!-- レビュータイトル -->
            {{ review.title }}

            <!-- レビュー投稿日時(任意) -->
            {{ review.created_at | date: '%Y/%m/%d %H:%M:%S' }}

            <!-- 投稿者 -->
            {{ review.name }}

            <!-- 評価 -->
            {{ review.display_star }}

            <!-- レビューコメント -->
            {{ review.comment | simple_format }}

            {% endfor %}
            {% endif %}


            <!-- レビュー投稿フォーム -->
            {% assign is_writable = product.id | check_review_writing_rule %}
            {% if is_writable %}

            <!-- フラッシュメッセージ -->
            {{ 'notice' | flash: 'alert alert-success', 'text' }}
            {{ 'alert' | flash: 'alert alert-danger', 'text' }}
            {{ 'error' | flash: 'alert alert-danger', 'text' }}

            <form action="/shop/products/{{ product.id }}/review" method="post">

                <!-- 投稿者名 -->
                <label for="review_name">投稿者名</label>
                <input class="validate[required]" type="text" name="review[name]" id="review_name">

                <!-- メールアドレス -->
                <label for="review_email">メールアドレス</label>
                <input class="validate[required,custom[email]]" type="text"
                    {% if customer_signed_in %}disabled{% endif %} name="email" value="{{ current_customer.email }}"
                    id="review_email">

                <!-- 評価 -->
                <label for="review_star">おすすめレベル</label>
                <select class="validate[required,custom[number]]" name="review[star]" id="review_star">
                    <option value="5">★★★★★</option>
                    <option value="4">★★★★</option>
                    <option value="3">★★★</option>
                    <option value="2">★★</option>
                    <option value="1">★</option>
                </select>

                <!-- タイトル -->
                <label for="review_title">タイトル</label>
                <input class="validate[required,maxSize[20]]" type="text" name="review[title]" id="review_title">

                <!-- コメント -->
                <label for="review_comment">コメント</label>
                <textarea class="validate[required,maxSize[400]]" name="review[comment]" id="review_comment"></textarea>

                <!-- 投稿ボタン -->
                <button name="button" type="submit">投稿する</button>

            </form>
            {% endif %}
            {% endif %}



            <!-- 関連商品 -->
            {% if base_info.use_related_products_on_detail? and product.active_related_products.size != 0 %}

            <!-- 関連商品一覧 -->
            {% for related_product in product.active_related_products %}

            <!-- 関連商品画像(任意) -->
            <a href="/shop/products/{{ related_product.master.sku }}">
                {% if related_product.thumbnail.url %}
                {% assign src = related_product.thumbnail.url %}
                {% else %}
                {% assign src = 'missing' | image_url %}
                {% endif %}
                <img src="{{ src }}">
            </a>

            <!-- 関連商品名 -->
            <a href="/shop/products/{{ related_product.master.sku }}">{{ related_product.name | truncate: 35 }}</a>

            <!-- 販売価格 -->
            {{ related_product.master.list_price | number_to_currency: format: '%n %u' }}

            <!-- カート追加 -->
            <form action="/shop/cart/add" method="post">
                <input name="variant_id" type="hidden" value="{{ related_product.related_product_variants_id }}">
                <button>カートに追加する</button>
            </form>
            {% endfor %}
            {% endif %}

        </div>

        <!-- お気に入り登録 -->
        {% assign is_favorite = product.id | check_current_customer_favorite %}
        {% if is_favorite %}
        {% if customer_signed_in %}
        <form
            action="/shop/products/{{ product.master.sku }}/unfavorite?customer_return_to=%2Fshop%2Fproducts%2F{{ product.master.sku }}"
            method="post">
            <button data-disable-with="解除中..." type="submit">
                お気に入りに追加済み
            </button>
        </form>
        {% endif %}
        {% else %}
        <form
            action="/shop/products/{{ product.master.sku }}/favorite?customer_return_to=%2Fshop%2Fproducts%2F{{ product.master.sku }}"
            method="post">
            <button data-disable-with="登録中..." type="submit">
                お気に入りに追加
            </button>
        </form>
        {% endif %}
    </div>
    <!-- /共通block displaynone -->





    <!-- セット商品 -->
    

    

    
    <!-- /セット商品 -->

    <!-- クレンジングセット -->
    
    
        
    
        
        <!-- /クレンジングセット -->
    

    <!-- 潤い商品ONLYONLY -->
    

    
    



    
    

    
        



<section class="uptline"></section>

    <section class="uptproduct__others">
        <h2 class="uptblc__ttl">OTHER ITEM</h2>
        <div class="uptproduct__others--con">

            <!-- 共通部分・商品ページ -->
            



<ul class="upthome__products--blc deverse">
    <li>
        <a href="/shop/products/handcream">
            <div class="upthome__products--blc-box">
                <picture>
                    <source srcset="{{ theme_file_root_path }}/assets/images/uptorigin/home_product-handcream.webp"
                        type="image/webp">

                    <img src="{{ theme_file_root_path }}/assets/images/uptorigin/home_product-handcream.png"
                        alt="HAND CREAM ハンドクリーム" width="1104" height="1095">
                </picture>

                <div class="upthome__products--nameblc">
                    <h3 class="upthome__products--name">HAND CREAM</h3>
                    <p class="upthome__products--jpname">ハンドクリーム<span class="italic">20g</span></p>
                </div>
                <p class="upthome__products--feature"></p>
                <p class="upthome__products--featuretxt">New</p>

            </div>
            <p class="upthome__products--linkbtn">
                <span>詳細はこちら</span>
            </p>
        </a>
    </li>
    <li>
        <a href="/shop/products/creamy_whipwash">
            <div class="upthome__products--blc-box">
                <picture>
                    <source srcset="{{ theme_file_root_path }}/assets/images/uptorigin/home_product-wash.webp"
                        type="image/webp">

                    <img src="{{ theme_file_root_path }}/assets/images/uptorigin/home_product-wash.png"
                        alt="CREAMY WHIP WASH クリーミーホイップウォッシュ" width="1104" height="1095">
                </picture>
                <div class="upthome__products--nameblc">
                    <h3 class="upthome__products--name">CREAMY WHIP WASH</h3>
                    <p class="upthome__products--jpname">クリーミーホイップウォッシュ<span class="italic">200mL</span></p>
                </div>
            </div>
            <p class="upthome__products--linkbtn">
                <span>詳細はこちら</span>
            </p>
        </a>
    </li>
    <li>
        <a href="/shop/products/cleansing_balm">
            <div class="upthome__products--blc-box">
                <picture>
                    <source srcset="{{ theme_file_root_path }}/assets/images/uptorigin/home_product-balm.webp"
                        type="image/webp">

                    <img src="{{ theme_file_root_path }}/assets/images/uptorigin/home_product-balm.png"
                        alt="CLEANSING BALM クレンジングバーム" width="1104" height="1095">
                </picture>

                <div class="upthome__products--nameblc">
                    <h3 class="upthome__products--name">CLEANSING BALM</h3>
                    <p class="upthome__products--jpname">クレンジングバーム<span class="italic">100g</span></p>
                </div>
            </div>
            <p class="upthome__products--linkbtn">
                <span>詳細はこちら</span>
            </p>
        </a>
    </li>

</ul>


            <!-- 共通部分・商品ページ -->

        </div>
    </section>
        <!-- /.定期商品 -->
    

    


    


    


    



    

</main>


<!-- product01 -->




<!-- /共通block -->


<div id="Lpbnr">
        <a href="https://uptofficial.jp/lp?u=official_lp_3trial" target="_blank" class="modal__link" id="js-modallink">
            <div class="pc">
                <img src="{{ theme_file_root_path }}/assets/images/uptorigin/bnr_pc-230914.png" alt="定期セット" width="840" height="121">
            </div>
            <div class="sp">
                <img src="{{ theme_file_root_path }}/assets/images/uptorigin/bnr_sp-230914.png" alt="定期セット sp" width="684" height="184">
            </div>
        </a>
        <div class="modal__link--close" id="js-modallink-close">

            <img src="{{ theme_file_root_path }}/assets/images/uptorigin/closebtn.svg" alt="CLOSE" width="16px" height="16px">
        </div>
</div>






<script src="/assets/lpbnr.js"></script>

