@use "./module/variable"as var;

// タブレット
@media screen and (max-width: var.$tabw) {}

//SP
@media screen and (max-width: var.$spbp) {}

/* アニメーション（右から左に移動） */
@keyframes scroll {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-100%)
    }
}


@keyframes fadeInAnime{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes fadeOutAnime{
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

body.topPage{
  .c-announce_bar {
    background-color: #898989;
  }
}

