<%
// 以下の設定値を記入のこと

var pageinit = {
  title : '' ,
  keywords : '' ,
  description : '' ,
  ogurl : '' ,
  path: '',
  ogimage : '' ,
  path : '' ,   
  ecforce : 'false',
  category : ['main'] ,
  pagename : '',
  css: [],
  js:[],
  jsfunc:['setPhotoChanger ();','startScroll ();','setVideo();']
};
%>
<%
var imgpath = 'https://d2w53g1q050m78.cloudfront.net/uptofficialjp/uploads/themes/theme_subscription0117_20230116184845/ec_force';
// var imgpath = '';

%>


<div class="uptshoplist">
    <nav id="menuArea">
        <ul class="uptshoplist__area" id="uptshoplist__area">
            <li class="is-active"><a href="#hokkaido" class="mScroll">北海道・東北地方</a></li>
            <li><a href="#kanto" class="mScroll">関東地方</a></li>
            <li><a href="#tyubu" class="mScroll">中部地方</a></li>
            <li><a href="#kinki" class="mScroll">近畿地方</a></li>
            <li><a href="#chugoku" class="mScroll">中国・四国地方</a></li>
            <li><a href="#kyushu" class="mScroll">九州地方・沖縄県</a></li>
        </ul>
        
        <ul class="uptshoplist__areasp active" id="uptshoplist__areasp">
            <li><a href="#hokkaido">北海道・東北地方</a></li>
            <li><a href="#kanto">関東地方</a></li>
            <li><a href="#tyubu">中部地方</a></li>
            <li><a href="#kinki">近畿地方</a></li>
            <li><a href="#chugoku">中国・四国地方</a></li>
            <li><a href="#kyushu">九州地方・沖縄県</a></li>
        </ul>
    </nav>
    <div>
        <p class="uptshoplist__ttl">SHOP LIST</p>
        <p class="uptshoplist__ttljp">取扱い店舗</p>
        <p class="uptshoplist__txt">Uptの商品を取り扱っている、⽇本全国のショップをご紹介します。<br>
            下記掲載店舗において在庫切れや取り扱い終了の可能性もございます。<br>
            在庫状況などは各店舗にてご確認ください。</p>
        <div id="hokkaido" class="uptshoplist__blc">
            <p class="uptshoplist__areaTtl">北海道・東北地方</p>
            <div class="uptshoplist__blc--wrap">
                <ul class="uptshoplist__shoplist--details" id="area-1"></ul>
                <ul class="prefecture" id="kenarea1"></ul>
            </div>
        </div>

        <div id="kanto" class="uptshoplist__blc">
            <p class="uptshoplist__areaTtl">関東地方</p>
            <div class="uptshoplist__blc--wrap">
                <ul class="uptshoplist__shoplist--details" id="area-2"></ul>
                <ul class="prefecture" id="kenarea2"></ul>
            </div>

        </div>

        <div id="tyubu" class="uptshoplist__blc">
            <p class="uptshoplist__areaTtl">中部地方</p>
            <div class="uptshoplist__blc--wrap">
                <ul class="uptshoplist__shoplist--details" id="area-3"></ul>
                <ul class="prefecture" id="kenarea3"></ul>
            </div>
        </div>

        <div id="kinki" class="uptshoplist__blc">
            <p class="uptshoplist__areaTtl">近畿地方</p>
            <div class="uptshoplist__blc--wrap">
                <ul class="uptshoplist__shoplist--details" id="area-4"></ul>
                <ul class="prefecture" id="kenarea4"></ul>
            </div>
        </div>
        
        <div id="chugoku" class="uptshoplist__blc">
            <p class="uptshoplist__areaTtl">中国・四国地方</p>
            <div class="uptshoplist__blc--wrap">
                <ul class="uptshoplist__shoplist--details" id="area-5"></ul>
                <ul class="prefecture" id="kenarea5"></ul>
            </div>
        </div>
        <div id="kyushu" class="uptshoplist__blc">
            <p class="uptshoplist__areaTtl">九州地方・沖縄県</p>
            <div class="uptshoplist__blc--wrap">
                <ul class="uptshoplist__shoplist--details" id="area-6"></ul>
                <ul class="prefecture" id="kenarea6"></ul>
            </div>
        </div>
    </div>
    

</div>

<style>
    .p-page_header{
        display: none;
    }
</style>