<%
// 以下の設定値を記入のこと

var pageinit = {
  title : '' ,
  keywords : '' ,
  description : '' ,
  ogurl : '' ,
  path: '',
  ogimage : '' ,
  path : '' ,   
  ecforce : 'true',
  category : ['main'] ,
  pagename : '',
  css: [],
  js:[],
  jsfunc:['setPhotoChanger ();','startScroll ();','setVideo();']
};
%>
<%
var imgpath = 'https://d2w53g1q050m78.cloudfront.net/uptofficialjp/uploads/themes/theme_subscription0117_20230116184845/ec_force';
// var imgpath = '';

%>
<div class="uptshoplist">
    <ul class="uptshoplist__area" id="uptshoplist__area">
        <li class=""><a href="#hokkaido">北海道・東北地方</a></li>
        <li><a href="#kanto">関東地方</a></li>
        <li><a href="#tyubu">中部地方</a></li>
        <li><a href="#kinki">近畿地方</a></li>
        <li><a href="#chugoku">中国・四国地方</a></li>
        <li><a href="#kyushu">九州地方・沖縄県</a></li>
    </ul>
    <div>
        <p class="uptshoplist__ttl">SHOP LIST</p>
        <p class="uptshoplist__ttljp">取扱い店舗</p>
        <p class="uptshoplist__txt">Uptの商品を取り扱っている、⽇本全国のショップをご紹介します。<br>
            下記掲載店舗において在庫切れや取り扱い終了の可能性もございます。<br>
            在庫状況などは各店舗にてご確認ください。</p>
        <div id="hokkaido" class="uptshoplist__blc">
            <p class="uptshoplist__areaTtl">北海道・東北地方</p>
            <ul class="uptshoplist__shoplist">
                <li>
                    <p class="uptshoplist__shoplist--pre">北海道</p>
                    <p class="uptshoplist__shoplist--name">アットコスメストア 名古屋タカシマヤゲートタワーモール店</p>
                </li>
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
            </ul>
        </div>

        <div id="kanto" class="uptshoplist__blc">
            <p class="uptshoplist__areaTtl">関東地方</p>
            <ul class="uptshoplist__shoplist">
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
            </ul>
        </div>

        <div id="tyubu" class="uptshoplist__blc">
            <p class="uptshoplist__areaTtl">中部地方</p>
            <ul class="uptshoplist__shoplist">
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
            </ul>
        </div>

        <div id="kinki" class="uptshoplist__blc">
            <p class="uptshoplist__areaTtl">近畿地方</p>
            <ul class="uptshoplist__shoplist">
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
            </ul>
        </div>
        
        <div id="chugoku" class="uptshoplist__blc">
            <p class="uptshoplist__areaTtl">中国・四国地方</p>
            <ul class="uptshoplist__shoplist">
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
            </ul>
        </div>
        <div id="kyushu" class="uptshoplist__blc">
            <p class="uptshoplist__areaTtl">九州地方・沖縄県</p>
            <ul class="uptshoplist__shoplist">
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
                <li>店舗名</li>
            </ul>
        </div>
    </div>
    

</div>




