<%
// 以下の設定値を記入のこと

var pageinit = {
  title : '' ,
  keywords : '' ,
  description : '' ,
  ogurl : '' ,
  path: '',
  ogimage : '' ,
  path : '' ,
  ecforce : 'false',
  category : ['about'] ,
  pagename : '',
  css: [],
  js:[],
  jsfunc:['setPhotoChanger ();','startScroll ();','setVideo();']
};
%>
<!-- BGとして ここから -->
<div class="bg__repeatWrapper">
    <div class="bg__repeatBlc">
        <div class="bgw1">
            <div class="maskbg1">
                <% if (pageinit.ecforce !== 'true') { %>
                    <img class="" src="/assets/images/uptorigin/bg01b-min.jpg" alt="">
                    <img class="" src="/assets/images/uptorigin/bg01b-min.jpg" alt="">
                <% } else { %>
                    <img class="" src="{{ file_root_path }}/bg01b-min.jpg" alt="">
                    <img class="" src="{{ file_root_path }}/bg01b-min.jpg" alt="">
                <% } %>
            </div>
        </div>

        <div class="bgw2">
            <div class="pc">
                <div class="maskbg2">
                    <% if (pageinit.ecforce !== 'true') { %>
                        <img class="" src="/assets/images/uptorigin/bg02b.png" alt="">
                        <img class="" src="/assets/images/uptorigin/bg02b.png" alt="">
    
                    <% } else { %>
                        <img class="" src="{{ file_root_path }}/bg02b.png" alt="">
                        <img class="" src="{{ file_root_path }}/bg02b.png" alt="">    
                    <% } %>
                </div>

            </div>
            <div class="sp">
                <div class="maskbg2">
                    <% if (pageinit.ecforce !== 'true') { %>

                        <img class="" src="/assets/images/uptorigin/bg03spb.png" alt="">
                        <img class="" src="/assets/images/uptorigin/bg03spb.png" alt="">
                    <% } else { %>
                        <img class="" src="{{ file_root_path }}/bg03spb.png" alt="">
                        <img class="" src="{{ file_root_path }}/bg03spb.png" alt="">
    
                    <% } %>

                </div>
            </div>
        </div>
    </div>

</div>
<!-- BGとして　ここまで -->

