<%
// 以下の設定値を記入のこと

var pageinit = {
  title : '' ,
  keywords : '' ,
  description : '' ,
  ogurl : '' ,
  path: '',
  ogimage : '' ,
  path : '' ,
  ecforce : 'false',
  category : ['about'] ,
  pagename : '',
  css: [],
  js:[],
  jsfunc:['setPhotoChanger ();','startScroll ();','setVideo();']
};
%>
<!-- Footer -->
    <ul class="upthome__fvblc--sns" id="js-sns">
        <li>
            <a href="https://www.instagram.com/_upt_official/" class="main__sns--insta" target="_blank">Instagram</a>
        </li>
        <li>
            <a href="https://twitter.com/_upt_official" class="main__sns--twitter" target="_blank">Twitter</a>
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UCK78cTfeqqzgKOT1OVKhw8Q" class="main__sns--youtube" target="_blank">Twitter</a>
        </li>
    </ul>  
</div>
</div>
<div class="uptblc top" id="uptfootersns">
    <div class="uptblc__inner">
        <div class="uptfootersns">
            <h2 class="uptfootersns__ttl">FOLLOW US</h2>
            <div class="uptfootersns__list--wrapper">
            <ul class="uptfootersns__list">
                <li>
                    <a href="https://www.instagram.com/_upt_official/" class="main__sns--insta" target="_blank">Instagram</a>
                </li>
                <li>
                    <a href="https://twitter.com/_upt_official" class="main__sns--twitter" target="_blank">Twitter</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCK78cTfeqqzgKOT1OVKhw8Q" class="main__sns--youtube" target="_blank">Twitter</a>
                </li>
            </ul>
        </div>
        </div>
    </div> 
</div>

<footer class="uptfooter" data-section-id='footer' data-section-type='footer-section'>

    <ul class="uptfooter__links">
        <li>
            <a href="/shop/faq/">FAQ</a>
        </li>
        <li>
            <a href="/shop/guide/">ご利用ガイド</a>
        </li>
        <li>
            <a href="https://mano-mano.co.jp/" target="_blank">会社概要</a>
        </li>
        <li>
            <a href="/shop/law_info/">特定商取引に基づく表記</a>
        </li>
        <li>
            <a href="/shop/privacy/">プライバシーポリシー</a>
        </li>
        <li>
            <a href="/shop/customer_term/">利用規約</a>
        </li>

    </ul>


    <p class="uptfooter__copy"><small>© 2022 Upt All Rights Reserved</small></p>

</footer>
<!-- Footer -->
<% if (pageinit.ecforce !== 'true') { %>
    <div id="cursor">
    <img src="/assets/images/uptorigin/0914/cursor.svg" alt="">
    <script src="/assets/uptfooter.js"></script>

</div>
<% } else { %>
    <div id="cursor">
        <img src="{{ theme_file_root_path }}/assets/images/uptorigin/0914/cursor.svg" alt="">
    </div>
    <script src="{{ theme_file_root_path }}/assets/uptfooter.js"></script>

<% } %>
