<%
var imgpath = '{{ theme_file_root_path }}';
// var imgpath = '';

%>

<div id="Lpbnr">
        <a href="https://uptofficial.jp/lp?u=official_lp_3trial" target="_blank" class="modal__link" id="js-modallink">
            <div class="pc">
                <img src="<%= imgpath %>/assets/images/uptorigin/bnr_pc-230914.png" alt="定期セット" width="840" height="121">
            </div>
            <div class="sp">
                <img src="<%= imgpath %>/assets/images/uptorigin/bnr_sp-230914.png" alt="定期セット sp" width="684" height="184">
            </div>
        </a>
        <div class="modal__link--close" id="js-modallink-close">

            <img src="<%= imgpath %>/assets/images/uptorigin/closebtn.svg" alt="CLOSE" width="16px" height="16px">
        </div>
</div>



