@use "./module/variable"as var;

.upthome{

}
.upthome{
    &__fv{
        margin: 0 calc(50% - 50vw);
        width: 100vw;
        @include var.bg;
        background-image: url(var.$imgpath + '0914/fv_pc04.jpg');
        line-height: 0;
        font-size: 0;
        // padding-top: 100%;
        margin-top: -100px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-position: center bottom;
        background-color: #D4D2DF;
        background-size: auto calc(100% - 30px);
        height: 100vh;
        &--logo{
            @include var.bg;
            background-image: url(var.$imgpath + '0914/fv_logo.svg');
            width: clamp( 246px, 30%, 409px);
            background-position: center bottom;
            height: clamp( 133px, 16vw, 221px);
            position: absolute;
            left: 50%;
            transform: translate( -50%, 0);
            bottom: clamp( 30px, 5%, 38px);
            opacity: 1;
            animation: fadeInAnime 2s ease 0s 1 forwards;     
            &.is-hidden{
                opacity: 0;
                animation: fadeOutAnime 1s ease 0s 1 forwards;     

            }
        }
    }
    &__fvblc{
        line-height: 0;
        font-size: 0;
        border-right: solid 1px var.$bg_dark;
        border-left: solid 1px var.$bg_dark;
        width: clamp(600px, 90vw, 1100px);
        position: relative;
        height: 100vh;
        &--sns{
            width: 19px;
            line-height: 0;
            font-size: 0;
            position: fixed;
            bottom: 10px;
            right: 9.5vw;
            li{
                width: 19px;
                height: 15px;
                margin-bottom: 20px;
                a{
                    display: block;
                    width: 19px;
                    height: 16px;
                }
            }
        }
    }
    &__intro{
        &--inner{
            width: clamp(600px, 90vw, 1100px);
            margin: 0 auto;
            display: flex;
            align-items: stretch; 
        }
        &--blc{
            display: flex;
            min-width: 297px;
            width: 44%;
            max-width: 44%;
        }
        &--txtblc{
            background: var.$bg;
            width: 100%;
            border-right: solid 1px var.$bg_dark;
            background: var.$bg;
            display: flex;
            align-items: center;
            justify-content: center;
            &-inner{
                width: 297px;
                min-width: 297px;

                padding: 100px 0;
            }
        }
        &--ttl{
            color: var.$bg_dark;
            @include var.fz(16);
            font-weight: 500;
            margin: 0 0 24px;
        }
        &--txt{
            color: var.$bg_dark;
            @include var.fz(14);
            font-weight: 400;
            line-height: 1.5;
            margin: 0 0 18px;
        }
        &--img{
            width: 56%;
            max-width: 56%;
            min-height: 56%;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                border: solid 1px var.$bc;
                border-radius: 267px;
                width: 86%;
            }
            .pcImg{
                display: block;
            }
            .spImg{
                display: none;
            }
        }
    }
    &__set{
        display: flex;
        align-items: stretch; 
        background-color: #F6F6F4;

        &--img{
            border-right: solid 1px var.$bg_dark;
            width: 60%;
            &-in{
                padding-top: 109%;
                width: 100%;
                position: relative;
                @include var.bg;
                background-image: url(var.$imgpath + '0914/home_setimg-pc.png');
                p{
                    display: inline-block;
                    @include var.bg;
                    background-image: url(var.$imgpath + '0914/home_set-feature-txt.png');
                    width: 75px;
                    height: 46px;
                    position: absolute;
                    top: 61px;
                    left: 47px;
                }
            }
            &-feature{
                @include var.bg;
                background-image: url(var.$imgpath + '0914/home_set-feature.svg');
                width: 126px;
                height: 126px;
                position: absolute;
                top: 20px;
                left: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                animation: rotation 10s infinite linear;
            }
        }
        &--sblc{
            width: 100%;
            background-image: url(var.$imgpath + '0914/dashed.svg');
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: 0 bottom;
            padding: 15% 0 12% 13%;
            background-color: #F7F8F8;
            .upt__name{
                line-height: 1.4;
                margin-bottom: 5px;
            }

        }
        &--sblc02{
            padding: 12% 0 0 13%;
            background-color: #F7F8F8;

            .upt__sname{
                margin-bottom: 5.5%;
            }
            .upt__sname--sub{
                &.minw{
                    min-width: 24px;
                    width: 24px;
                    display: block;
                }
            }

        }
        &--ssblc{
            display: flex;
            margin-bottom: 3.6%;
            p{
                line-height: 1.2;
                white-space: nowrap;
            }
            .upt__sname--sub{
                margin-bottom: 5px;
            }
        }
        &--blc{
            width: 40%;
            &-flex{
                display: flex;
                flex-direction: column;
                width: 100%;

                height: 100%;
            }

            &-con{

            }
            &-btm{
                margin-top: auto;

                border-top: solid 1px var.$bg_dark;

                a{

                    display: flex;
                    background: var.$bc;
                    color: #FFF;
                    text-align: center;
                    font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
                    @include var.fz(22);
                    font-weight: 600;
                    padding: 27px 0;
                    line-height: 1;
                    justify-content: center;
                    align-items: center;
    
                    span{
                        display: inline-block;
                        padding-right: 46px;
                        background-image: url(var.$imgpath + '0914/arrow.png');
                        background-repeat: no-repeat;
                        background-size: 27px 14px;
                        background-position: right center;
                    }
                    &:hover{
                        opacity: 0.7;
                    }
                }

            }
        }
    }

    &__products{

        &--blc{
            display: flex;
            li{
                display: flex;
                flex-direction: column;
                width: 33.33%;
                min-width: 33.33%;
                border-right: solid 1px var.$bg_dark;
                &:last-child{
                    border: none;
                }
                img{
                    width: 100%;
                    border-radius: 50%;
                    border: solid 1px var.$bg_dark;

                }
                a{
                    background: var.$bc;
                    color: #FFF;
                    text-align: center;
                    font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
                    @include var.fz(17);
                    font-weight: 600;
                    padding: 15px 0;
                    line-height: 1;
                    justify-content: center;
                    align-items: center;
                    margin-top: auto;
                    border-top: solid 1px var.$bg_dark;

                    span{
                        display: inline-block;
                        padding-right: 48px;
                        background-image: url(var.$imgpath + '0914/arrow.png');
                        background-repeat: no-repeat;
                        background-size: 23px 12px;
                        background-position: right center;
                    }
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }

        }
        &--nameblc{
            padding: 20px 0 15px;
        }
        &--name{
            text-align: center;
            font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
            @include var.fz(14);
            font-weight: 600;
            color: var.$bg_dark;
            letter-spacing: 0.1em;
        }
        &--jpname{
            text-align: center;
            font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
            @include var.fz(13);
            font-weight: 400;
            color: var.$bg_dark;
            span{
                display: inline-block;
                padding-left: 1em;
                letter-spacing: 0.1em;

            }
        }
    }

    &__producer{
        width: 100vw;
        margin: 0 calc(50% - 50vw);

        border-top: solid 1px var.$bg_dark;
        border-bottom: solid 1px var.$bg_dark;
        overflow: hidden;
        position: relative;
        height: 256px;
        background-image: url(var.$imgpath + '0914/bg_yumi-pc.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100% auto;
        &--inner{
            border-right: solid 1px var.$bg_dark;
            border-left: solid 1px var.$bg_dark;
            width: clamp(600px, 90vw, 1100px);
            margin: 0 auto;
            height: 256px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

        }
        .producer__inner{
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: flex-end;
            div{
                height: 79px;
            }
        }
    }
    .about__inner{
        position: absolute;
        bottom: 0;
        height: 79px;
        div{
            height: 79px;
        }
    }
    &__yumi{
        .uptline{
            display: none;
        }
        margin: 0 auto;
        background: var.$bg;
        display: flex;
        align-items: stretch;
        flex-direction: row-reverse;
        &--blc{
            width: 50%;
            min-width: 50%;
            &.right{
                display: flex;
                justify-content: center;
                align-items: center;
                border-left: solid 1px var.$bg_dark;

            }
        }
        &--sblc{
            width: clamp(403px, 58%, 322px);
        }
        &--txt{
            @include var.fz(14);
            line-height: 2.4;
            color: var.$bg_dark;
            text-align: center;
            //タブレット
            @media screen and (max-width: var.$tabw) {
                line-height: 2;
                @include var.fz(12);

            }
        }
        &--sign{
            @include var.bg;
            background-image: url(var.$imgpath + '0914/sign_yumi.svg');
            width: 131px;
            height: 33px;
            margin: 28px auto 0;
        }
        .pcImg{
            display: block;
        }
        .spImg{
            display: none;
        }
    }
    &__illust{
        width: 88%;
        max-width: 970px;
        margin: 0 auto;
        padding: 30px 0;
        p{
            text-align: center;
            color: var.$bg_dark;
            @include var.fz(11);
            line-height: 1.6;
        }
    }
    //タブレット
    @media screen and (max-width: var.$tabw) {

    }
    @media screen and (max-width: var.$spbp) {
        &__fv{
            @include var.bg;
            background-image: url(var.$imgpath + '0914/fv_sp.jpg');
            background-position: center bottom ;
            height: 90vh;
            margin-top: calc(-16.5vw - 30px);
            justify-content: center;
            background-size: auto 100%;
            display: flex;
            &--logo{
                @include var.bg;
                background-image: url(var.$imgpath + '0914/fv_logo.svg');
                width: 64.5vw;
                height: 34.6vw;
                position: absolute;
                left: 50%;
                transform: translate( -50%, 0);
                bottom: 11.5vw;
            }
        }
        &__fvblc{
            width: 92vw;
            height: 90vh;


            &--sns{
                display: none;
            }
        }

        &__intro{

            &--inner{
                width: 100%;
                display: block;
            }
            &--blc{
                display: block;
                min-width: 100%;
                width: 100%;
                max-width: 100%;
            }
            &--txtblc{
                border-right: none;
                display: block;
                &-inner{
                    min-width: 70vw;
                    width: 70vw;
                    max-width: 297px;
                    margin: 0 auto;
                    padding: 18.6vw 0;
                    p{
                        white-space: nowrap;
                    }
                }
            }

            &--img{
                border-top: solid 1px var.$bg_dark;
                margin: 0 -4vw;
                width: 100vw;
                max-width: 100vw;
                min-height: 100vw;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 6.4vw 0;

                img{
                    border-radius: 42vw;
                    width: 85vw;
                }

                
            }

        }
        &__set{
            display: block;
            background-color:transparent;
            &--img{
                border-right: none;
                width: 100%;
                &-in{
                    width: 100%;
                    padding-top: 0;
                    height: 118vw;
                    position: relative;
                    @include var.bg;
                    background-image: url(var.$imgpath + '0914/home_setimg-sp.png');
                    p{
                        display: inline-block;
                        width: 66px;
                        height: 40px;
                        position: absolute;
                        top: 24px;
                        left: 17px;
                    }
                }
                &-feature{
                    width: 110px;
                    height: 110px;
                    position: absolute;
                    top: -10px;
                    left: -7px;

                }
            }
            &--sblc{
                width: 100%;
                padding: 15vw 0 12% 12vw;
                background-color:transparent;
                .upt__name{
                    line-height: 1.4;
                    margin-bottom: 5px;
                }
    
            }
            &--sblc02{
                padding: 12% 0 15vw 12vw;
                background-color:transparent;

                .upt__sname{
                    margin-bottom: 5.5%;
                }
                .upt__sname--sub{
                    &.minw{
                        min-width: 24px;
                        width: 24px;
                        display: block;
                    }
                }
    
            }
            &--ssblc{
                display: flex;
                margin-bottom: 3.6%;
                
            }
            &--blc{
                width: 100vw;
                    margin: 0 -4vw;
                    padding: 0 4vw;
                    background-color:transparent;
                border-top: solid 1px var.$bg_dark;
                &-flex{
                    display: block;
                    width: 100%;

                    height: 100%;
                }
    
                &-btm{
                    margin-right: 1px;
                    border-right: solid 1px var.$bg_dark;

                    a{
                        @include var.fz(25);    
                        span{
                            padding-right: 50px;
                            background-size: 32px 16px;
                        }
                    }

                }
            }
        }
        &__products{
            &--blc{
                display: block;
                li{
                    display: block;
                    width: 100%;
                    min-width: 100%;
                    border-right: none;
                    border-bottom: solid 1px var.$bg_dark;
                    &:last-child{
                        border: none;
                    }

                    a{
                        width: 100%;
                        display: block;

                    }
                }
    
            }
            &--nameblc{
                padding: 20px 0 15px;
            }
            &--name{
                text-align: center;
                font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
                @include var.fz(14);
                font-weight: 600;
                color: var.$bg_dark;
                letter-spacing: 0.1em;
            }
            &--jpname{
                text-align: center;
                font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
                @include var.fz(13);
                font-weight: 400;
                color: var.$bg_dark;
                span{
                    display: inline-block;
                    padding-left: 1em;
                    letter-spacing: 0.1em;
    
                }
            }
        }
        
    &__producer{
        height: 55vw;
        background-image: url(var.$imgpath + '0914/bg_yumi-sp02.jpg');
        background-position: 0 0;
        .pcImg{
            display: none!important;
        }
        .spImg{
            display: block!important;
        }
        &--inner{
            border-right: solid 1px var.$bg_dark;
            border-left: solid 1px var.$bg_dark;
            width: 92vw;
            margin: 0 auto;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 55vw;

        }
        .producer__inner{

            div{
                height: 6vw;
            }
        }


    }
    .about__inner{
                
                div{
                    height: 6vw;

                }
            }
        &__illust{
            width: 100%;
            max-width: 100%;
            margin: 0 auto;
            padding: 5vw;
        }
        &__yumi{
            .uptline{
                display: block;
            }
            border-right: none;
            border-left: none;
            margin: 0 auto;
            background: var.$bg;
            display: block;
            align-items: stretch;
            &--blc{
                width: 100%;

                +.upthome__yumi--blc{

                    border-right: none;
                    border-left: none;

                }
                &.right{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                }
            }
            &--sblc{
                width: 100%;
                padding: 18vw 0;
            }
            &--txt{
                
            }
            &--sign{
                @include var.bg;
                background-image: url(var.$imgpath + '0914/sign_yumi.svg');
                width: 131px;
                height: 33px;
                margin: 28px auto 0;
            }
            .pcImg{
                display: block;
            }
            .spImg{
                display: none;
            }
        }
    }

}

.modal{

    &__bg{
        background-color: rgba(255,255,255,0.2);
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 101;
        left: 0;
        top: 0;
        overflow: auto;

    }
    &__btn{
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(255,255,255,0);

        &:hover{
            background-color: rgba(255,255,255,0.1);
        }
    }
 
    &__contents{
        position: fixed;
        display: block;
        z-index: 102;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 48.5vh;
        height: 70vh;

        
        &--inner{
            position: relative;
            font-size: 0;
            line-height: 0;
            width: 100%;
            height: 100%;
            img{
                border-radius: 20px;
                object-fit: content;
                height: 100%;

            }
        }
        @media screen and (max-width: var.$spbp) {
            width: 80vw;
            max-height: 70vh;

            &--inner{
                position: relative;
                img{
                    border-radius: 5vw;
                    width: 100%;
                    height: auto;
                }
            }
            &__btn{
                &:hover{
                    background-color: rgba(255,255,255,0);
                }
            }
        }
    }
}

//タブレット
@media screen and (max-width: var.$tabw) {

}

//SP
@media screen and (max-width: var.$spbp) {

}

@keyframes fadeInAnime{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOutAnime{
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



// 0922------------------------------------------------------------
.upthome__set--blc-btm a{
    line-height: 1.4;
    display: block;
    padding: 20px 0;
    pre{
        @include var.fz(14);
        font-weight: 400;
    
    }  
}

h1.upthome__fv--logo{
    margin: 0;
    padding: 0;
    line-height: 0;
}

h2.upthome__illust--ttl{
    text-align: center;
    color: var.$bg_dark;
    @include var.fz(11);
    line-height: 1.6;
}  


// 0926------------------------------------------------------------
.upthome{
    &__fv{
        &--feature{
            background-image: url(var.$imgpath + '0914/home_set-feature.svg');
            background-size: 100% auto;
            width: 145px;
            height: 145px;
            position: absolute;
            top: 122px;
            right: 54px;
            animation: rotation 10s infinite linear;
            &-txt{
                @include var.bg;
                background-image: url(var.$imgpath + '0926/fv__feature.svg');
                width: 96px;
                height: 62px;
                position: absolute;

                top: 158px;
                right: 77px;
            }

        }
        @media screen and (max-width: var.$spbp) {
            background-size: auto 105%;
            background-position: center bottom;

            &--feature{
                width: 29.3vw;
                height: 29.3vw;
                position: absolute;
                top: 28vw;
                right: 6vw;
                animation: rotation 10s infinite linear;
                &-txt{
                    width: 19.5vw;
                    height: 12.8vw;
                    position: absolute;

                    top: 35vw;
                    right: 10.5vw;
                }
    
            }
        }
    }
    &__set{
        &--blc{
            &-btm{
                border-top: none;
                padding: 0 13% 14.7%;
                a{
                    padding: 24px 0;
                }
            }
        }
        &--sblc{
            padding: 13% 0 10% 13%;
        }
        &--linkbtn{
            display: block;
            background: var.$bc;
            border-radius: 40px;
            margin: 0 auto;
            width: 100%;
            border: none;
            span{
                font-weight: 400;
                @include var.fz(22);
            }
        }
        &--sblc02{
            padding-top: 8%;
        }
        &--ssblc{
            margin-bottom: 5%;
        }
        @media screen and (max-width: var.$spbp) {
            &--blc{
                &-btm{
                    padding: 0 10.4vw 13.36vw;
                    a{
                        padding: 20px 0;
                    }
                }
                .upt__sname{
                    margin-bottom: 6.5vw;
                }
            }
            &--sblc{
                padding-top: 10vw;
            }
            &--sblc02{
                padding-top: 12vw;
                padding-bottom: 4vw;
            }
            &--linkbtn{

                border-radius: 40px;

                span{
                    @include var.fz(21);
                }
            }

            &--ssblc{
                margin-bottom: 6.6vw;
            }
        }

    }
    &__products{
        &--blc{
            li{
                width: 100%;

                a{
                    border-top: none;
                    font-weight: 400;
                    background: none;
                    display: block;
                    margin: 0;
                    padding: 0;
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
        }
        &--linkbtn{
            display: block;
            background: var.$bc;
            border-radius: 40px;
            margin: 0 9.7% 30px;
            background: var.$bc;
        }
    }
    @media screen and (max-width: var.$spbp){
        &__products{
            &--blc{
                li{
                    width: auto;
                    a{
                        width: auto;
                    }
                }
            }
            &--linkbtn{
                display: block;
                background: var.$bc;
                border-radius: 40px;
            }
        }
    }
}

.upthome__set--img{
    a{
        &:hover{
            opacity: 0.8;
        }
    }
}

.upthome__products--linkbtn{
    background: var.$bc;
    color: #FFF;
    text-align: center;
    padding: 15px 0;
    line-height: 1;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}
