$basic: #444444;
$bc: #FF583B;
$bc2: #32667A;
$cosmew: 540px;
$spbp: 768px;
$pcbp: 1080px;
$tabw: 1024px;
$bg: #F7F8F8;
$bg_dark: #32667A;
$brown:#967860;
$bg2: #d8d8e4;
$small: 14px;
// $imgpath: '/assets/images/uptorigin/';
$imgpath: 'https://ec-force.s3.amazonaws.com/uptofficialjp/uploads/themes/theme_soldout_20241108144211/ec_force/assets/images/uptorigin/';

@mixin bg(){
    background-size: 100% auto;
    white-space: nowrap;
    text-indent: -9999px;
    background-repeat: no-repeat;
    display: block;
}
@mixin fz($size) {
	font-size: calc($size / 16) + rem;
    font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
}

@keyframes fadeInAnime{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.monserrat{
    font-family: 'Montserrat', sans-serif;
}

// ## webp classes
$webpClassName: '.is-webp';
$noWebpClassName: '.is-no-webp';

// $selector にする background-image で、webp を出し分ける
// ※親要素に $webpClassName / $noWebpClassName が付与されることが前提
// --------------------------------------------------------
// $selector      {string} css セレクタ (default: jpg)
// $imgpath      {string} 背景画像ファイルパス
// $fileExtension {string} 背景画像拡張子
@mixin webpBg($selector, $imgpath, $fileExtension: 'jpg') {
  #{$noWebpClassName} #{$selector} {
    background-image: url(#{$imgpath}.#{$fileExtension});
  }
  #{$webpClassName} #{$selector} {
    background-image: url(#{$imgpath}.webp);
  }
}


//フェードイ
.fadein00 {
    animation-name: fadeInAnime;
    animation-duration:3s;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
    
.fadein01 {
    animation-name: fadeInAnime;
    animation-duration:3s;
    animation-delay: 1.0s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    animation-iteration-count: 1;

}

.fadein02 {
    animation-name: fadeInAnime;
    animation-duration:3s;
    animation-delay: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    animation-iteration-count: 1;

}
    
.fadein03 {
    animation-name: fadeInAnime;
    animation-duration:3s;
    animation-delay: 2.0s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    animation-iteration-count: 1;

}
    
.fadein04 {
    animation-name: fadeInAnime;
    animation-duration:3s;
    animation-delay: 2.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

}
    
